[2010-02-21 21:33] gaberade opened #1 "Shell in Alt-Tab Menu"
Running Cairo on Win7, the shell shows up as an untitled icon in the Alt-Tab menu four times. If you select the shell in the alt tab menu, desktop icons change z-level and will 'sandwich' windows between them and the desktop background.

Not sure if this is the place to report something like this, but the "Report a Bug" link on the http://cairoshell.github.com/download/ page is broken, the "Commun

[2010-02-21 21:39] gaberade opened #2 "Taskbar not at the bottom of the screen"
Running Cairo on Win7.

If you start cairo before terminating explorer.exe, the cairo taskbar rests on top of the explorer taskbar and stays in that position, even if you
-terminate explorer.exe
-disable and then re-enable the taskbar via cairo settings
-restart cairo from "New Task" in the TaskManager

[2010-02-21 21:44] gaberade opened #3 "Minimization animation errors"
Cairo on Win7

Using Aero, windows will minimize in the direction of their location on the explorer taskbar, rather than just fading out in place. This happens if you run cairo before terminating explorer.exe and persists after you terminate explorer.exe. It is fixed if you restart cairo.

[2010-05-10 02:49] ThMage opened #4 "Logging/Debugging"
I think it would be a help to those of us who are trying to get this running on our machines and to those of you who are in development if Cairo automatically created a log file that would be able to identify when the errors occur.
I suppose I could set up debugging in VS2008, but that's more work and most users won't know how to do that.

Actually, now I see that there is supposed to be a crash l

[2010-05-14 02:32] 24500 opened #5 "Desktop settings - duplicate desktop icons"
Disabling the desktop doesn't remove the icons, so re-enabling the desktop creates duplicate icons, all the icons start etc, fixed by restarting cario

[2010-06-10 02:48] prozaker opened #6 "getting program crash when running CairoDesktop.exe"
These are the details

Description:
  Stopped working

Problem signature:
  Problem Event Name:   CLR20r3
  Problem Signature 01: cairodesktop.exe
  Problem Signature 02: 0.0.1.9
  Problem Signature 03: 4bc7acea
  Problem Signature 04: PresentationFramework
  Problem Signature 05: 3.0.0.0
  Problem Signature 06: 470bc696
  Problem Signature 07: 660b
  Problem Signature 08: e1
  Problem Signature 0

[2010-06-16 06:12] Spiral-zz opened #7 "Windows 7 UX style Core"
Hello,
First of all I really what you are doing and I would like to help if I knew programming.  The issue I'm having is that both cairo and windows explorer are running at the same time.  I still have my taskbar and start menu as well as the cairo interface.  I think this is because UXstyle core theme changing program is working with the same files or something.  I just wanted to let you know.
Ta

[2010-06-28 14:50] steinwaywhw opened #8 "Crash when click "App Grabber""
I always get this when I click "App Grabber" on my Win7 Home Premium 32bit edition. That is to say, it crashes... I've no idea about what information I should provide to you. I just copy and paste those information in the Warning Dialog...

描述:
  Stopped working

问题签名:
  问题事件名称:   CLR20r3
  问题签名 01:  cairodesktop.exe
  问题签名 02:  0.0.5.0
  问题签名 03:  4c12a0a9
  问题签名 04:  System.Drawing
  问题签名 05:  2

[2010-06-29 06:25] bklooste opened #9 "Contact us page doesnt work"
As per the title - do you guys have a forum
?

[2010-06-29 06:26] bklooste opened #10 "Performance"
What is the performance like ? Its based on WPF  so how does it compare especially on older computers ?

[2010-06-29 06:29] bklooste opened #11 "Silverlight/Moonlight"
Does it work with Silverlight / Moonlight ?

Im working on a new uclinux OS and was wondering whether it would work with Silverlight or even Moonlight ?

If yes on silverlight . What will the performance be like ( especially looking at 600Mhz-1G embedded devices here) ?  And can you run Moonlight apps ?

[2010-06-29 06:31] bklooste opened #12 "Archive support"
One thing i always hated was archive support in Windows /Linux .. a lot of ( non IT literate ) people really struggle with archives and a a UI should take care of it .

I have even blogged about it .

http://www.shanghai-software.com/blog/archive/2010/05/13/why-do-we-need-to-deal-with-archives.aspx

[2010-07-21 05:51] #9 closed, assigned to nobody

[2010-07-21 05:51] #10 closed, assigned to nobody

[2010-08-30 13:34] krizzmp opened #13 "only showing 5 trayitems"
running win7 x64 with areo enabled
release 0.0.1.11

[2010-09-06 13:12] alexey11 opened #14 "Can't compile"
There is absent file:
Source file 'SupportingClasses\NativeMethods.cs' could not be found C:\Users\Alexey\Documents\Visual Studio 2010\Projects\cairoshell\cairoshell-cairoshell-917f6ca\code\Cairo Desktop\Cairo Desktop\CSC

Any help?

[2010-09-07 10:10] #14 closed, assigned to nobody

[2010-09-07 23:49] alexey11 opened #15 "Hiding Windows' Taskbar in Windows 7"
There is no hiding Windows' taskbar when starting this latest build. Cairo from http://www.elementsoftware.co.uk/dev/cairo/ hides it and restarts after Cairo finished. Also, after Cairo finished there are problems with Windows 7 taskbar: pinned buttons void and application buttons grown large. What should i do?
What is the LAST build of Cairo?

[2010-12-25 15:09] guille0301 opened #16 "Help with localization"
I'd like to help localizing CairoShell to es_ES and es_AR, I'd like to have some guidelines or if there is some file with the strings to be replaced.

[2011-01-21 01:23] wetherbeei opened #17 "Start task manager crash"
Windows 7 x64

Application Domain:    CairoDesktop.exe
Assembly Codebase:     file:///C:/Users/Ian/Downloads/CairoShell/Release/CairoDesktop.exe
Assembly Full Name:    CairoDesktop, Version=0.0.1.9, Culture=neutral, PublicKeyToken=null
Assembly Version:      0.0.1.9
Assembly Build Date:   4/15/2010 9:18:52 PM

Exception Source:      System
Exception Type:        System.ComponentModel.Win32Exceptio

[2011-01-21 01:31] wetherbeei opened #18 "Taskbar icon menu won't close on de-focus"
When right-clicking a program icon, there isn't a way to close the menu that comes up by de-focusing/clicking anywhere else. You must select one of the menu items to get it to close.

[2011-01-21 01:32] wetherbeei opened #19 "Crash on right-click on Steam icon"
Right-clicking the Steam taskbar icon causes a crash. Probably something to do with Steam's custom UI.

Windows 7 x64

Application Domain:    CairoDesktop.exe
Assembly Codebase:     file:///C:/Users/Ian/Downloads/CairoShell/Release/CairoDesktop.exe
Assembly Full Name:    CairoDesktop, Version=0.0.1.9, Culture=neutral, PublicKeyToken=null
Assembly Version:      0.0.1.9
Assembly Build Date:   4/15/2

[2011-02-06 16:06] ingmarcosp opened #20 "dynamics desktop??"
how-to works?? have multiple desktop?? Im using M6 win7 x64

[2011-04-23 04:04] trusktr opened #21 "Not sure if there are forums, so I was posting here."
The desktop interface looks cool, but what about window borders? Are those modified so that the windows match the style of the desktop??? That's a key feature i think.

[2012-01-05 10:40] mhgamework opened #22 "Cairo non-responsive"
Hey,

When i start cairo, the top bar appears, but it grays out after a few seconds. When i click on the bar, the application stops responding and crashes.
Im on a Windows 7 Home Premium 64-bit. I got this from the event log but im not entirely sure its usefull

Can anyone help me?

[2014-01-09 15:53] sunxfancy opened #23 "It's a little dingerous"
I used Win8 x64 and cairo has a no response problem, but it forbid my explorer and desktop. So I restore my computer hardly...
I suggest building it like a full screen game, if you like ,you can change to the classic mode.When the shortcut interference cairo ,use the hook to shield the shortcut key.
I will read the code tomorrow, do some debug...

[2017-10-02 02:01] #5 closed

[2017-10-02 02:01] #6 closed

[2017-10-02 02:01] #8 closed

[2017-10-02 02:15] cairoshell commented on #1
This has been fixed; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:15] #1 closed

[2017-10-02 02:15] cairoshell commented on #2
This has been fixed; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:15] #2 closed

[2017-10-02 02:15] cairoshell commented on #7
This has been fixed; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:15] #7 closed

[2017-10-02 02:16] cairoshell commented on #13
This has been fixed; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:16] #13 closed

[2017-10-02 02:16] cairoshell commented on #15
This has been fixed; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:16] #15 closed

[2017-10-02 02:16] cairoshell commented on #17
This has been fixed; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:16] #17 closed

[2017-10-02 02:16] cairoshell commented on #18
This has been fixed; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:16] #18 closed

[2017-10-02 02:16] cairoshell commented on #19
This has been fixed; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:16] #19 closed

[2017-10-02 02:17] cairoshell commented on #20
This has been implemented; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:17] #20 closed

[2017-10-02 02:17] cairoshell commented on #22
This has been fixed; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:17] #22 closed

[2017-10-02 02:17] cairoshell commented on #23
Many fixes have been implemented to stabilize Cairo; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:17] #23 closed

[2017-10-02 02:17] cairoshell commented on #3
Many fixes have been implemented to stabilize Cairo; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:17] #3 closed

[2017-10-02 02:18] cairoshell commented on #4
Cairo now displays error information, and it can be found in Event Viewer as well. Many fixes have been implemented to stabilize Cairo; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Thanks!

[2017-10-02 02:18] #4 closed

[2017-10-02 02:18] cairoshell commented on #11
Closing since Silverlight is EOL.

[2017-10-02 02:18] #11 closed

[2017-10-02 02:20] cairoshell commented on #21
Cairo is alive and well; please download the latest version from [cairodesktop.com](http://cairodesktop.com). Window borders are not modified and there are no plans to do this as it is outside of the planned scope of Cairo. Thanks!

[2017-10-02 02:20] #21 closed

[2017-10-02 02:20] cairoshell commented on #12
Cairo uses the existing Windows archive support and there are no plans to change this.

[2017-10-02 02:20] #12 closed

[2017-10-02 03:06] KyleKing opened #27 "Install appears to succeed, but can't open from start menu"
I downloaded .NET and VCC (both already installed) and ran the Cairo setup.exe, but can't start Cairo. I have Windows 7

[2017-10-02 14:01] dremin commented on #27
Hi Kyle,
Did you download the latest version from cairodesktop.com? Is there any error message that appears? Did you download the correct file for your system (32- or 64-bit)?

[2017-10-02 16:37] KyleKing commented on #27
Hi Sam, I checked my system information and downloaded the latest 64-bit pre-release from https://github.com/dremin/cairoshell/releases/tag/v0.2.6469

The cmd prompt disappears too quickly and I'm not able to catch the message, but it does appear there is some sort of error. Is there a log file that I can check?

[2017-10-02 17:12] dremin commented on #27
Interesting, there should not be any command prompt that appears. If there is an error you should see it in the Windows Event Viewer Application log.

[2017-10-02 18:58] KyleKing commented on #27
There wasn't anything in the event viewer logs, but I managed to capture a screen recording and this is the error info:

![photo oct 02 14 54 42](https://user-images.githubusercontent.com/3784339/31094157-2520e35a-a782-11e7-98e1-937d1ed03b84.png)

[2017-10-03 00:44] dremin commented on #27
Thanks! That command prompt window during the install is normal, those messages are benign and expected on Windows 7. When starting Cairo from your Start menu, do you see any errors?

[2017-10-03 14:35] KyleKing commented on #27
Oops, I guess it was working the whole time. The application did not appear in the start menu, but I launched it from the executable in the program files folder and everything appears to work. Thanks for your help!

[2017-10-03 14:35] #27 closed

[2017-10-03 16:15] dremin commented on #16
Hi @guille0301, I understand it has been quite a while, are you still interested in helping localize Cairo? I am planning on building localization support, I could then provide a list of strings to you.

[2017-10-03 19:53] mdmk commented on #16
I'm interested in translating to fr_FR. Let me know if I can help.

[2017-10-04 12:40] dremin commented on #16
Awesome, thanks @mdmk ! I will update this when I have compiled a list of strings to be translated.

[2017-10-04 15:26] KyleKing opened #28 "No Icons"
I'm missing most of the icons from the drop-down menus, desktop, and bottom tab bar. What do you think is going on?

![photo oct 04 11 20 08](https://user-images.githubusercontent.com/3784339/31184148-9a4f6cb2-a8f6-11e7-8fc2-fdd98321fea7.jpg)

[2017-10-04 16:17] dremin commented on #28
I've noticed a few scenarios where Cairo got stuck loading a certain icon, causing the others to never load. I may need to add some additional logging to help troubleshoot this, but do you have any insight as to which icon Cairo is getting stuck on, maybe in one of the views where you see some icons loaded but not others?

[2017-10-04 16:22] KyleKing commented on #28
It's hard to say - only the FIRefox icon from the quick launch app group appears. I just restarted Cairo and toggled the dynamic desktop, which fixed all visible icons

[2017-10-04 16:23] dremin commented on #28
Hm, it may have been a desktop icon. If you change the default desktop directory in Cairo Settings to another folder (an empty one would be best for testing purposes) and restart Cairo, do all icons load?

[2017-10-04 22:37] FiddleStickers opened #29 "Notification tray (Systray.exe) and "Quick start" or Pinned apps not loading properly"
Funny thing is that it does show the steam icon, but none of the others. (I chose to use explorer.exe as my default when I installed, because it told me that some windows features would otherwise not be available)
Also, I did set it to always show all tray icons in the settings.
I have Windows 10 x64 =)

![cairoshell-bugmaybe](https://user-images.githubusercontent.com/32528471/31203149-15ab49c0-a9

[2017-10-04 23:33] dremin commented on #29
For the icons in the taskbar, you can select those in the App Grabber and placing them in the Quick Launch category (at the moment, Cairo does not select these automatically when installing). Regarding the notification area, did you make sure to install the 64-bit version of Cairo?

[2017-10-04 23:34] dremin commented on #28
Strange, glad to hear it's working! I will continue to work on the resiliency of icons to reduce the chance of this happening again.

[2017-10-04 23:36] FiddleStickers commented on #29
Okay then I will set the quick launch up myself.
Yes I installed the 64bit version.

[2017-10-05 15:25] mdmk commented on #29
OS: Windows 10 x64
Cairo Desktop version: M2.6469 x64

Same problem here (cf. screenshot attached).
There is two icons that do not load in the cairo tray (red circles) but appear on explorer taskbar.
A third icon disappears during screenshot because that is the screenshot tool, not a real problem here, it instantly reloads.

I did clear MUI cache and reboot, no effect.

I do not have problems with

[2017-10-05 15:30] mdmk commented on #16
Your welcome. I will stay tuned for updates on this issue.

[2017-10-06 01:29] Handwrit opened #30 "In full screen mode, in Firefox and SMPlayer, Cairo stays on top"
Obviously, it's good Cairo can stay on top most of the time, but sometimes I'd just like to watch a video fullscreen.

Thanks for Cairo, by the way! It's really great!!!!!!!

[2017-10-06 19:31] KyleKing commented on #28
I think Excel may be the culprit for crashing my Cairo icons

Also, my notes icon never appears:
![capture](https://user-images.githubusercontent.com/3784339/31295143-6379bbc8-aaab-11e7-9703-058b83d6bc36.PNG)

[2017-10-06 21:42] dremin commented on #28
Is this OneNote or some other app?

Also, regarding Excel, is it an Excel file or the app itself that seems to be causing issues? Does it only happen when Excel is open? Was Excel installed under a different user or some other way by chance?

[2017-10-06 21:45] dremin commented on #29
@FiddleStickers does the issue persist after logging out and back in?

@mdmk Could you please let me know what apps these are so I can investigate? Are they running under another user by chance?

Also, I am planning on auto-selecting apps in a future Cairo release (the first Milestone 3 build should have this feature). Please feel free to open a separate issue for this, and I can keep it updated o

[2017-10-06 21:46] dremin commented on #30
Interesting, I implemented support for hiding in full-screen in a previous release and it is working for me with Firefox. Does Cairo stay on top in every full-screen scenario for you, or are there situations where Cairo hides properly?

[2017-10-07 00:58] FiddleStickers commented on #29
To be clear, my only issue right now is the notification tray icons missing.
I assumed Cairo would load my pinned apps from explorer, but it does not (Which is fine).

I am now going to test logging out and back in to see if that fixes the tray icons.

[2017-10-07 01:01] FiddleStickers commented on #29
Yes. The issue persists.

[2017-10-07 07:59] Handwrit commented on #30
Chrome and Google Earth are no different, Cairo remains atop them in full screen mode.

I'm using Windows 10 Pro, (automatically, thanks MS!) updated to Creator's Edition.

My videocard is the MSI Radeon RX 640.

It should be added, I have not scrounged up the pennies to buy a Windows license, so perhaps that messes with draw order or something? However, I would think not, since it's Explorer that

[2017-10-07 14:28] mdmk opened #31 "Auto-select apps in Cairo"
At first lauch, it would be good to auto-select some quicklauch apps to propose aceptable defaults shortcuts.
Perhaps load the same than in explorer?

[2017-10-07 14:35] mdmk commented on #29
@dremin The apps are Asus Xonar DGX panel (sound card) and Logitech Options (keyboard and mouse buttons and macro and hybrid software/hardware KVM).
If you have at least one Logitech keyboard or mouse with unifiying dongle you can test the later.
I run everything as a single admin user.

I did open Feature resquest #31 for auto-select apps feature.

[2017-10-07 14:48] mdmk opened #32 "Modern control panel shortcut"
OS: Windows 10 x64
Cairo opens the legacy control panel instead of the modern control panel (it is called Immersive control panel in Cairo).
Or control.exe instead of SystemSettings.exe for the corresponding processes.
![screenshot115](https://user-images.githubusercontent.com/32496803/31309116-58426d78-ab81-11e7-9cc8-be1bcdb2dbb4.png)

[2017-10-07 22:25] dremin commented on #30
I will try with an un-activated version of Windows to see if this triggers the problem. If not, I'll add some additional logging to Cairo so that we can track this down!

[2017-10-07 22:28] dremin commented on #29
@FiddleStickers - darn, I will look some more into this. Could you please provide a screenshot of your normal taskbar notification area so that I can see what icons you are expecting?

@mdmk Thanks, I'll take a look at these.

[2017-10-07 23:09] FiddleStickers commented on #29
I will. I am restarting my pc now, but I can say that among the missing icons are logitech mouse settings for meas well.

[2017-10-07 23:13] FiddleStickers commented on #29
Sorry missclick. Screenshot incoming

[2017-10-07 23:16] FiddleStickers commented on #29
Also when I switch back to windows explorer shell it leaves the minimize and maximize window animation.

I hope you can get it to set that back to default, because I can't get rid of it haha.

[2017-10-07 23:21] FiddleStickers commented on #29
![notification_icons](https://user-images.githubusercontent.com/32528471/31312570-f8379250-abc6-11e7-8202-515f6887a1f1.png)

Here are all the icons that are missing.

[2017-10-08 18:09] mdmk commented on #29
@dremin I noticed that at the very moment I switch off my logitech mouse, the logitech options icon finally appear on cairo tray. But if I close and reopen Cairo, it is gone again.

The logitech options software that @FiddleStickers uses is perhaps not the same than mine, in his case it is a gamer mouse of keyboard, I guess it from the G icon that is used by logitech for its gaming peripherals.

[2017-10-08 18:21] mdmk commented on #30
@Handwrit you could try to extend your trial period if the OS is freshly installed.
See [(https://www.howtogeek.com/howto/windows-7/extend-the-windows-7-trial-from-30-to-120-days/)]
Never tried it myself but it seems possible to extend the trial period up to one year with a simple tweak:
https://www.techperiod.com/extend-windows-7-trial-period-for-one-year/

If it works for you then hopefully you

[2017-10-09 01:43] nickisghosty opened #33 "Desktop Icons"
I've been checking back every few months waiting for windows 10 compatibility along with an over all smoother feel. I've got to say, I appreciate the work and open source-ness. Ever since I stumbled upon this project probably a little over a year ago now, I saw great potential, and wished it would work on my laptops. Now it does! I hope I can give you some constructive criticism, and hope that you

[2017-10-09 02:05] nickisghosty commented on #29
i just noticed, my wifi icon isnt in the sys tray. nor is my volume icon will try a restart and see if it fixes it

[2017-10-09 02:09] nickisghosty commented on #33
Also something you may want to add is a mostly transparent backdrop behind the desktop navigation icons, for readability and customization. and a hotkey or button on either the active window bar or menu bar to bring the navigation to front without having to minimize everything

[2017-10-09 16:48] mdmk commented on #28
It seems to be onenote I guess, with onenote 2016 I have exactly the same tooltip, but no problem.
![screenshot14](https://user-images.githubusercontent.com/32496803/31349108-18e9ee4c-ad22-11e7-9b15-1e231d2ff13f.png)

[2017-10-09 17:25] mdmk commented on #33
On my desktop, native icons are not hid anymore making them overlap with Cairo's own icons.
[Example of overlapping](https://user-images.githubusercontent.com/32496803/31349373-45bbb29c-ad23-11e7-971b-27f6e21c86d0.png)
The problem appears on my desktop but not on my laptop (both Win10 64bit).
If I right click on desktop to hide native icons it works but if I close Cairo native icons dont reappear

[2017-10-09 19:04] dremin commented on #33
@mdmk yikes, I changed how I hide the default desktop icons recently. Do you use a slideshow wallpaper on that machine? Also, could you try this slightly older build to see if it hides your icons properly? https://github.com/dremin/cairoshell/releases/tag/v0.2.6456

When you refer to a dock do you mean the bottom Cairo taskbar and quick launch? The Windows taskbar should be completely hidden and n

[2017-10-09 19:47] KyleKing commented on #28
My icon is for OneNote 2016 as well (if it matters it is Office Professional Plus)

Also, I don't think the problem is with Excel and it is hard to tell when the icons start to disappear

[2017-10-09 20:31] mdmk opened #34 "Preloaded modern apps appear on Cairo's taskbar"
Some times, on start, I have the same few apps shown in task bar:
- Calculator
- Photos
- Modern settings
- Windows Store

![screenshot18](https://user-images.githubusercontent.com/32496803/31357186-fd700d94-ad40-11e7-83a0-46666124fc19.png)

They are background tasks, the apps are preloaded but their windows are invisible.
But the apps are listed in the Cairo's taskbar which is wrong behavior.

[2017-10-09 20:59] dremin commented on #34
This seems to happen only when loading Cairo manually after the system has been up for a while in my experience. For some reason the Windows API returns these as active windows even though they are not, and they are not being marked as hidden. I will continue to look for a solution for this, but in the mean time, you can select them and then close the window that appears and the button will be rem

[2017-10-09 21:02] mdmk commented on #33
@dremin
Yes I use a slideshow wallpaper on both machines (sames pictures for the most part).
Same problem with a single image (I did not reboot between changes).
I'll try this older build tomorrow, I will return feedback then.

My bad, yes by dock I mean the Cairo taskbar and quick lauch, which looks pretty much like a dock (except it is not possible to customize it alot, at least for now).
In fac

[2017-10-10 07:08] nickisghosty commented on #33
Tried running the app grabber again, got the same error message pop up, and the app grabber stays on the Please wait finding apps screen, this time I got the error:

`Please submit a bug report with the error text below. Thanks!

Message: The service did not respond to the start or control request in a timely fashion.

The service did not respond to the start or control request in a timely fashion

[2017-10-10 07:23] nickisghosty commented on #33
Also, the desktop icon overlap i was talking about, heres a<a href="http://i68.tinypic.com/2i0cjte.png"> screenshot</a>

its only when the desktop setting is enabled. so when that is enabled there should be a line of code to hide the windows desktop icons.

[2017-10-10 12:48] mdmk commented on #33
@dremin Same problem with the slightly older build.
The icons overlap in the same way.
With or without slideshow wallpaper.

[2017-10-10 12:57] mdmk opened #35 "24 hour clock"
The clock is 12 hour.
I would like an option to have 24 hour, or at least an AM/PM indicator.
All I managed to do in the settings is to add a digit to the clock, so for example, 2:53 is displayed 02:53.
Perhaps the option already there and I don't know what time format to use in the option field?

[2017-10-11 08:00] nickisghosty commented on #34
@mdmk  how did you get program icons on the left like a quick launch?

[2017-10-11 12:50] mdmk commented on #34
@nickisghosty You need the app grabber to function in order to pin apps.

[2017-10-11 22:48] dremin commented on #35
Try using a capital H in the time format, this should give you 24 hour time! Example: `ddd H:mm`

![screen shot 2017-10-11 at 6 47 33 pm](https://user-images.githubusercontent.com/7373633/31471013-b9287cd2-aeb4-11e7-80ba-76377654fa00.png)

[2017-10-12 05:55] dremin commented on #33
@nickisghosty @mdmk I have just released a build with fixes to the issues listed here. You can update using 'Check for updates' in the Cairo menu. Please let me know if the fixes helped!

[2017-10-12 05:56] dremin commented on #32
I have added this feature to the Cairo menu on Windows 10 in the latest build. You can update using 'Check for updates' in the Cairo menu.

[2017-10-12 05:57] dremin commented on #30
I have made an adjustment to this functionality in the latest build. You can update using 'Check for updates' in the Cairo menu. Please let me know if this helped the issue.

[2017-10-12 06:27] nickisghosty commented on #33
NICE! My issues no longer exist. Much appreciated, will let you know if I bump into anything else and/or think of any important features.

[2017-10-12 11:45] mdmk commented on #35
![screenshot20](https://user-images.githubusercontent.com/32496803/31494314-0be5ab40-af53-11e7-9e7e-f9cd130feec9.png)

Exactly what I wanted, thanks!
Could you later add a tooltip when hovering the time format field in order to give some directives about the syntax?
Or a clickable (?) button next the field, or something similar?

[2017-10-12 11:50] FiddleStickers commented on #29
I only have wired mouse and keyboard, because I hate batteries =P

[2017-10-12 11:55] mdmk commented on #32
The new entry in the menu works.
But the app shortcut created with app grabber does the same thing than before.

[2017-10-12 12:27] mdmk commented on #33
@dremin Check for updates works like a charm (automatically proposed at lauch).
Desktop icons overlap no more and the dynamic desktop bar is movable.

Don't know if this issue will be closed or not but it is a bit huge now, I made a summary of what have been said and done or not.

### Already implemented:

- [x] Possibility to disable dynamic desktop
- [x] Theme support

### Corrected by the lates

[2017-10-12 12:34] mdmk opened #38 "Cairo settings window is considered as a graphic program by graphic card panel"
Sorry, not a real issue.
I have an nvidia graphic card, with the geforce experience software.
This panel offers an FPS counter for games.
It is activated by default on game or graphic intensive softwares.
The cairo settings shows a counter (the green 1 in the top right corner), so I think something is wrong.
![screenshot21](https://user-images.githubusercontent.com/32496803/31496069-33babc76-af5a-

[2017-10-12 13:15] dremin commented on #38
This is probably due to Cairo being drawn using GPU acceleration. I've been using MSI Afterburner to display FPS and other info in games and it doesn't have this issue.

[2017-10-12 13:17] dremin commented on #35
Good idea! I'll add a link to this page: https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings
Also, I will adjust the default format to be correct across regions.

[2017-10-12 13:19] dremin commented on #33
Regarding "Reclaim native taskbar space", try setting your Windows taskbar size to small icons, this removes the extra gap.

[2017-10-12 13:20] mdmk commented on #29
@FiddleStickers I understand ^^
Unplugging and replugging the dongle does also make the icon reappear.
Did you try to unplug the cord?

[2017-10-12 13:20] dremin commented on #32
Glad it works! The shortcut that appears in App Grabber is installed by default with Windows but doesn't appear to link to the correct place, so you can remove this shortcut.

[2017-10-12 13:20] #32 closed

[2017-10-12 13:22] dremin commented on #28
I fixed a couple of issues with taskbar icon processing, which may resolve your issue. Is it still happening after the latest release? You can update using 'Check for updates' in the Cairo menu.

[2017-10-12 13:38] mdmk commented on #35
The "H" thing is [here (custom)](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings) and not [there (standard)](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings).

Very informative link but perhaps a bit complicated.
But it has a technical benefit, the page is available in a wide variety of languages.
It

[2017-10-12 13:44] dremin commented on #35
Good point, maybe I should approach this differently. It may make more sense to add a tooltip with some examples, and localization for this will be handled in #16.

[2017-10-12 13:49] nickisghosty commented on #33
well the question is, are you wanting that button to be used between versions of windows or just windows 10 multiple desktops? cause for it not to be a useless button on win 7 and 8 you could create an alt tab like screen. or you could create your own virtual desktop functionality for all three and nevermind the windows 10 taskview

[2017-10-12 14:36] nickisghosty commented on #33
cool, a suggestion with that... since i don't like how there isn't a close 'x' on each window on windows versions prior to 10 would be to go with your own alt tab screen.. so when you click the button the list of windows stay up, along with also being able to customize to your liking, like adding a close 'x' to each window, or 3d shuffling, etc.

quick question.. do you code for work? or just a ho

[2017-10-12 17:41] mdmk commented on #33
@dremin Tried this. Gained some space actually.

But what I want to do is this:
![screenshot22](https://user-images.githubusercontent.com/32496803/31510077-ecb7d500-af83-11e7-9bdb-ec8d78a5435a.png)

And not this:
![screenshot23](https://user-images.githubusercontent.com/32496803/31510081-eea97bde-af83-11e7-956b-0c48df53b19e.png)

That is to say, make the taskbar overlap the bottom of the maximized

[2017-10-12 17:55] mdmk opened #39 "Bug with modern apps maximized"
Sometimes the modern apps are not correctly sized when maximized.
Happens with Windows store, [Windows settings](https://user-images.githubusercontent.com/32496803/31511094-e817d2ae-af86-11e7-8527-9932c35baf32.png) and [facebook messenger app](https://user-images.githubusercontent.com/32496803/31511091-e73d6db2-af86-11e7-8560-1a9dba7fc225.png).
See the small overlapp with menu bar.
The reverse sce

[2017-10-12 18:08] dremin commented on #39
Unfortunately, this is a Microsoft bug 😞 The UWP windows are not maximizing with respect to the system workspace area.

[2017-10-12 18:08] #39 closed

[2017-10-12 18:12] dremin commented on #38
I'm going to close this since this is an issue with GeForce Experience detecting incorrectly. If it has an exclusions feature I would try using that and excluding Cairo, otherwise another program may be the best solution for this.

[2017-10-12 18:12] #38 closed

[2017-10-12 18:16] dremin commented on #39
For further insight, the UWP window borders are drawn by the shell (Explorer). When a UWP window is maximized, without Cairo, you can see it goes a bit off the top of the screen and then jumps to the correct size instantly as Explorer has rights to resize the window.

[2017-10-12 18:30] mdmk commented on #39
Is it not possible to correct the size in the same way than explorer?
Thanks for the explanation anyway.
So sad modern apps are marred with such flaws.

[2017-10-12 18:37] mdmk commented on #38
The FPS doesn't appear with Fraps.
So definitely a geforce experience problem.

[2017-10-12 18:42] dremin commented on #39
Unfortunately Cairo doesn't have rights to resize other windows. When Cairo reserves the edge of the screen, Windows emits an event to other applications to resize but it is up to the application to use the correct size.

[2017-10-13 03:07] dremin commented on #29
I installed the Logitech software and can't seem to reproduce the issue.. it always is appearing in Cairo for me. 🤷‍♂️

[2017-10-13 05:15] nickisghosty commented on #33
@mdmk I have not. Spent a good amount of time yesterday looking for a replacement but hadn't came across this one though, thanks.

@dremin Something that happened with the update... The custom folders I added to the top bar disappeared afterward-just fyi. No problem re-adding them.

[2017-10-13 15:48] mdmk commented on #29
@dremin In my case I only have an icon when logitech flow is enabled (it is a hybrid software/hardware kvm).
The icon appears in explorer native taskbar when flow is enabled and the unifiying dongle is plugged.
In Cairo the icon appear only when flow triggers an event.
eg my mouse switches to the other pc screen, or the other pc shut down.
What are your logitech peripherals?

[2017-10-13 16:38] mdmk commented on #3
@dremin
The first time an app is minimized, it is pushed toward the position of the icon in native taskbar.
But the next minimizations work as expected, it minimizes (more or less) to the position of the icon in Cairo.
So could we reopen this issue, for as long as the problem of the first minimization is present?

P.S.: I assumed @cairoshell  is the same person as @dremin. If not, please correct m

[2017-10-13 21:53] dremin commented on #3
I'll look into this some more. If it can be fixed, I'll re-open it, but it may be a system limitation. And yes, it's me 😄

[2017-10-13 22:00] dremin commented on #29
@mdmk I have a G400 mouse. The Logitech Gaming Software icon was present in my notification area in Cairo across restarts of Cairo without an issue in my case.

The big issue with notification area icons is that there is no API to enumerate them, rather, I have to trust that each icon will tell Cairo about its presence when Cairo announces that it has a notification area. Unfortunately it seems li

[2017-10-13 23:52] dremin commented on #33
Here's something to try for the Task View feature: Seems like it works if the Cairo notification area is disabled (and restarting Cairo afterwards) for me. Very strange..

[2017-10-14 00:02] mdmk commented on #33
Tested it, I can confirm this.
Strange actually.

[2017-10-14 00:15] mdmk commented on #29
@dremin So same icon than @FiddleStickers
Not the same than me.
Is there a way to help you look at this, even if you don't have direct access to the app?

For the use case where explorer is replaced by Cairo, is there a way to make Cairo impersonate explorer so it gathers the same information as explorer would?

[2017-10-14 00:26] dremin commented on #33
@nickisghosty I haven't seen that happen before. I would be interested if it happens again after the next update. Do you have a `%appdata%\CairoStacksConfig.xml` file?

[2017-10-14 00:37] mdmk commented on #33
Yes.
[Here](https://gist.github.com/mdmk/adb56451be80a317b0a75ced67280a86) the content of the file.

[2017-10-15 07:08] dremin commented on #35
This is implemented in today's update.

[2017-10-15 07:08] #35 closed

[2017-10-15 07:09] dremin commented on #33
Task View is working consistently in Windows 10 in today's build. For versions prior to 10, I am thinking of just hiding the button for now as there is no built in virtual desktop manager.

[2017-10-15 09:34] mdmk commented on #35
@dremin The tooltip is missing `hh Hour (12-hour, leading zero)`.

[2017-10-15 09:55] mdmk commented on #33
@dremin I confirm this.
The native taskbar autohide also works well in multiscreen.
I updated the checklist higher in the thread.

Some design ideas:
I'd like to have a button for showing desktop. Why not propose something like a single button with left click taskview, rightclick show desktop? On versions prior to 10 it would be left or right click show desktop so the button stays here. But differ

[2017-10-16 12:45] KyleKing commented on #28
I think this is due to explorer.exe crashing, which happens without Cairo. I'll close this for now and will follow up if I can solve my explorer.exe issues

[2017-10-16 12:45] #28 closed

[2017-10-16 13:06] tomtwentysix opened #40 "Cairo on multiple screens"
When running multiple screens, it would be good to have the option to have Cairo showing on all screens, similar to how you can have the windows taskbar on all screens.

This is especially handy if you use a lot of fullscreen applications, as they cover cairo when open on the main screen.

[2017-10-17 02:37] sychris opened #41 "hiding title bar"
So I've been using this for about a week now and by far the biggest issue I have is the launch bar covers windows title bar's that are maximized. making it very hard to close them also, windows often open at to top of the screen making it very hard to move them. further exasperated as the task bar offers minimize and restore but no move option there as well. I do know that as a workaround you can

[2017-10-17 03:32] dremin commented on #41
Thanks for using Cairo! Thanks for details and mentioning that you have Explorer disabled. I have implemented AppBar support in Cairo, but AppBar requires Explorer to be enabled. Instead, Cairo is adjusting the system workarea when it is set as the shell, so that Cairo doesn't overlap windows.

I just tested having Cairo set as shell instead of Explorer, on Windows 7 x64, and it seems to be workin

[2017-10-17 03:47] #33 closed

[2017-10-17 03:50] dremin commented on #33
I closed this since the Task View issue is resolved, which is the last remaining issue from the original post. However, there were a lot of other suggestions in this thread, feel free to make separate issues for those! (note- I won't necessarily implement every suggestion, but I want to at least be able to address and track it!)

[2017-10-17 04:11] dremin commented on #35
@mdmk whoops! I just released an update that fixes this.

[2017-10-17 04:43] sychris commented on #41
whoa didnt know about that appbar support only working with explorer... (makes sense) should have looked in to the code lol. as for the reg key "HKCU\Software\Microsoft\Windows NT\CurrentVersion\Winlogon\Shell" in the Winlogon there is a shell key with "C:\Program Files\Cairo Shell\CairoDesktop.exe" as the value however there is also a folder in Winlogon named Shell with a default key and no value

[2017-10-17 05:22] dremin commented on #41
Interesting. Is Cairo properly loading your startup items on boot?

[2017-10-17 06:07] sychris commented on #41
yep all startup items are working properly...  some system stuff is not ie sound mixer notification but i expect this is due to no explorer shell -ive replaced almost all of them a long time ago with other software so no biggie.

so lol i think i might know whats going on..  the reason i switched to cairo is because i have made extensive changes to my os one of which is some sort of DPI scaling wh

[2017-10-17 06:28] dremin commented on #41
I think you're on to something- I noticed I am not DPI scaling the workspace calculations properly, so there is a partial overlap. I'll get this fixed for the next build.

[2017-10-17 15:53] mdmk opened #42 "Feature Request: Reclaim native taskbar space"
When hiding the native taskbar, the space is lost.
It would be good to adjust the workspace to benefit from this space.
Cairo taskbar would then be in front of the windows.

[2017-10-17 15:56] mdmk opened #43 "Feature Request: Moving and rotating bars/Change edges of screen"
It would be good to be able to move the bars freely on the screen and rotate them by 90/180 degrees.
Or at least chose the edge of the screen.
For menu bar and taskbar essentially (desktop bar already draggable).

[2017-10-17 15:59] mdmk opened #44 "Improve icon label readability"
In order to improve readability of desktop icon, there could be a backdrop behind them.

[2017-10-17 16:10] mdmk opened #45 "Dynamic Desktop Overlay"
In order to access dynamic desktop, the user has to minimize everything.
A button/hotkey to show it would help to avoid this problem.
It is the contrary of #46.

@nickisghosty Could you please confirm your idea or explain further? It is you who asked for this in #33.

[2017-10-17 16:12] mdmk opened #46 "Feature Request: Adding button/hotkey to show desktop"
On the contrary to #45, it would be good to have a button/hotkey to simply show desktop (minimize everything).

[2017-10-17 16:17] mdmk opened #47 "Feature Request: Change icon size in taskbar"
Icon are a bit small, it would be good to be able to change their size.

[2017-10-17 16:21] mdmk opened #48 "Autohide Cairo taskbar"
The Cairo taskbar is always shown. An autohide feature would be great.
With the same kind of animation as the folder bar in menu bar when it open/close (when you click on Places, Documents, Downloads and custom folders in menu bar).

[2017-10-17 16:24] mdmk opened #49 "Look of the task view button in taskbar"
As I stated in #33,
The [task view icon] has too many stripes I think. I looks like the grip of a handle and I expected it to be draggable by mouse at first. It is very mainstream and not original but a simple three-stripe hamburger
![image](https://user-images.githubusercontent.com/32496803/31676555-4b62a4ee-b368-11e7-8cc6-7225304610f1.png) icon would suffice.

[2017-10-19 23:08] dremin commented on #42
Cairo has an option to auto-hide the Windows taskbar in order to reclaim space left from it.

![capture](https://user-images.githubusercontent.com/7373633/31798253-a102104e-b500-11e7-8590-c4ed28711d55.PNG)

I will see if the system allows me to remove the taskbar as an 'app bar' to reclaim space without auto-hide.

[2017-10-19 23:28] dremin commented on #43
I do plan to support taskbar on top as part of M3. I also think menu bar on bottom could be an interesting thing to add as well.
However, the existing interface wouldn't work very well in a vertical layout. If someone is willing to spend the time to create a usable and sustainable implementation of it, I would gladly accept the pull request 😄

[2017-10-22 20:29] dremin commented on #30
@Handwrit Is this still happening for you in the latest version?

[2017-10-22 21:30] dremin commented on #44
I've darkened the outline around the text. It should be more readable in the next build.

[2017-10-22 23:48] dremin commented on #41
Could you please try the update I released today? This issue should now be resolved-- let me know if it isn't!

[2017-10-22 23:48] #41 closed

[2017-10-22 23:50] dremin commented on #44
I have just released a new build, could you please check if the icons are now legible for you? Thanks!

[2017-10-23 00:12] dremin commented on #42
After some experimenting and some research, I don't believe anything past the options provided is possible unless you select the option to replace Explorer when installing Cairo.

[2017-10-23 00:12] #42 closed

[2017-10-23 00:24] dremin commented on #29
@mdmk Every app's implementation is different-- Cairo is behaving as closely as possible to Explorer, though running Cairo as a replacement to Explorer (using the installer option) would get that a bit closer. The most helpful thing would be to run the [DebugView](https://docs.microsoft.com/en-us/sysinternals/downloads/debugview) application, then start Cairo, and send the output. That can tell me

[2017-10-23 05:12] dragonfirecmv opened #50 "In System Tray, cannot open Network, Sound and Power flyout."
The icon responsible for showing the status of each entity does not respond to any click.

[2017-10-24 01:18] dremin commented on #50
I'm exploring a few different possibilities here:
1. Find a way to make these work
1. Hide them, and instead rely on a button to open Action Center
1. Implementing these directly into Cairo.

The problem is they are owned by explorer.exe, which we are trying to replace 😄 I'll keep this issue updated, but in the meantime I highly recommend [Volume2](https://irzyxa.wordpress.com) for volume control;

[2017-10-25 00:37] dragonfirecmv commented on #50
Actually, I have an idea and here's my proposal:

Since I've been doing a custom implementation of macOS shells too, I would suggest adding custom execution code for these special entity of Windows 10 tray icon by custom linking them into their corresponding shell commands, such as 'ms-availablenetworks:' for Networks flyout, using system key combinations for Action Center, etc.

[2017-10-25 00:37] dragonfirecmv commented on #50
Whoops, accidentally closed the issue!

[2017-10-25 00:48] dremin commented on #50
Thanks for reminding me of the available networks URI! For Action Center, I have implemented the `ms-actioncenter:` URI. It looks like I could use `sndvol -f` to display a volume slider, albeit the old one. Unfortunately, I haven't found a way to activate the modern Volume or Power flyouts yet.

[2017-10-27 04:17] featherbear opened #51 "Opening "Windows Settings" results in an error"
When clicking on the _Windows Settings_ menu option in the Cairo menu, nothing happens for around ten seconds. Afterwards an error message appears

```explorer.exe "File system error (-2147219200)."```

This error only occurs when CairoShell is set as the user shell.

I'm guessing it's something to do with some initialising not happening where needed?

[2017-10-27 04:21] bearbear12345 commented on #51
By the way

OS: Windows 10 Pro
Build: 16299
CairoShell: 1fa3337b95678efc29ec824b95f54e60b10acdcb

[2017-10-27 04:50] dremin commented on #51
Good catch, the Settings app is a UWP app, which depends on Explorer as shell in order to run. I’ll remove this item when Explorer isn’t shell.

[2017-10-29 03:11] hello-wahyu opened #52 "Windows 7 and up like taskbar grouping"

[2017-10-29 03:12] dragonfirecmv opened #53 "The taskbar opened apps tend to overlap at each other"

[2017-10-29 03:18] dragonfirecmv opened #54 "Ideas: Implementation of iOS Control Center-esque flyout"
I think it is a great solution for the missing (?) shortcut for Battery, Volume, conjoining search and other essential utility (I know the action center does this, but I think this can be expanded for basic utilities (slider brightness) to custom framework) 👍. Besides, the older Windows 7 and 8 users could also benefit this :)

[2017-10-29 03:19] dragonfirecmv commented on #50
I think I got a better idea: https://github.com/cairoshell/cairoshell/issues/54

[2017-10-31 02:56] dremin commented on #53
This is actually intentional-- Cairo groups taskbar buttons using the same categories that you set in App Grabber. More details on the homepage: http://cairodesktop.com/#taskbar

Of course, if something funky is happening that isn't this, please let me know and re-open this! 😄

[2017-10-31 02:56] #53 closed

[2017-10-31 02:59] dremin commented on #52
Regarding grouping, the method Cairo uses I mentioned in #53. However, thumbnails are a great idea!

[2017-10-31 03:09] dragonfirecmv commented on #52
I know, but it would be nice to have that options too, besides The Windows 7 taskbar has been praised by many of its users, also flexibility :)

[2017-11-01 03:31] dremin commented on #51
This is fixed in the latest release.

[2017-11-01 03:31] #51 closed

[2017-11-05 23:29] dremin opened #55 "Option for desktop icon label on right"
There should be an option to show desktop icon labels on the right instead of the bottom.

[2017-11-06 01:35] #44 closed

[2017-11-06 01:35] #30 closed

[2017-11-11 09:49] dragonfirecmv opened #56 "Cairo won't hide the Windows Taskbar"
After looking through the source code, I've noticed that the SWP_HIDEWINDOW is set to 128 instead of 80 and the SWP_SHOWWINDOW is set to 64 instead of 40 (you've commented it out). Why? The ones that you've commented out are the correct ones.

[2017-11-11 22:52] dremin commented on #56
That's really old code--not sure why, but I'll look into it! The current code hides the taskbar on my systems, which OS are you running where it isn't working?

[2017-11-11 23:35] dragonfirecmv commented on #56
Windows 10 FCU. Also, every tutorials mention it being 80 and 40 instead of 128 and 64 -- I also noticed that there's some kind of race between AutoHide and SWP_HIDE (you need to use AutoHide first if you wanted to claim the space the Taskbar was using). My take on the fix is that calling the AutoHide from the Window Constructor, then using the SWP_HIDE on the Window_Loaded event.

[2017-11-12 03:40] dragonfirecmv commented on #56
Oops, discovered a bug. It seems that some triggers (not the windows button) can actually unhide the taskbar. I've also discovered a program called Taskbar Magic, unfortunately I don't really know how it circumvent this.

[2017-11-13 09:40] dragonfirecmv commented on #56
My workaround for this issue: Use a BackgroundWorker to anually repeat the calls of SetWindowsPos.

[2017-11-17 00:01] dremin commented on #56
@dragonfirecmv In what scenarios are you seeing the taskbar re-appear? I haven't seen this at all; I'm wondering if you are doing something that I haven't tried or if you have another application running in the background that is causing this to happen.

[2017-11-17 02:02] dremin commented on #56
Regarding the SWP values, this is simply an int/hex conversion. 0x40 = 64 and 0x80 = 128.

[2017-11-17 03:30] dragonfirecmv commented on #56
Usually the taskbar reappears occasionally when: Hitting the start button, Opening Flyouts like the View Available Network, Opening programs and Programs that needs attention(taskbar app icon blinking). That's about it so far.

[2017-11-17 06:03] dremin commented on #56
Interesting, I can't reproduce this behavior. However, I have refactored how the Windows taskbar is hidden for Milestone 3 so hopefully you will see better results in M3 builds.

[2017-11-17 08:52] Carbongrip opened #57 "Allow Taskbar Quick Launch Icons to be Organized"
Hello, I have a feature request. Can we please gain the ability to organize taskbar quick launch icons manually(non-alphabetic), via app grabber?

Cheers!

[2017-11-20 10:43] Carbongrip opened #58 "Menu -> Places -> Videos Library Folder is Missing"
Hello, I think you missed a Library Folder in the Places Menu, their is no Videos item. Videos is very much a Library folder in explorer.

Cheers!

[2017-11-21 04:52] dremin commented on #57
Great idea, I will look into adding this.

[2017-11-21 04:56] dremin commented on #58
Thanks for pointing this out, I'll add this.

[2017-11-28 05:36] dremin commented on #58
This is fixed in the latest Milestone 3 release. Please check for updates and re-open the issue if it is not resolved.

[2017-11-28 05:36] #58 closed

[2017-11-28 05:36] dremin commented on #55
This is fixed in the latest Milestone 3 release. Please check for updates and re-open the issue if it is not resolved.

[2017-11-28 05:36] #55 closed

[2017-11-28 05:37] dremin commented on #50
I have started this by adding Action Center support in the latest Milestone 3 release. Please check for updates.

[2017-11-28 05:38] dremin commented on #43
Taskbar-on-top is available in the latest Milestone 3 release. Please check for updates and re-open the issue if it is not resolved.

[2017-11-28 05:38] #43 closed

[2017-11-28 05:38] dremin commented on #49
This is fixed in the latest Milestone 3 release. Please check for updates and re-open the issue if it is not resolved.

[2017-11-28 05:38] #49 closed

[2017-11-28 05:38] dremin commented on #31
This is fixed in the latest Milestone 3 release. Please check for updates and re-open the issue if it is not resolved.

[2017-11-28 05:38] #31 closed

[2017-11-28 05:39] dremin commented on #56
This is fixed in the latest Milestone 3 release. Please check for updates and re-open the issue if it is not resolved.

[2017-11-28 05:39] #56 closed

[2017-11-28 05:41] dremin commented on #29
The "pinned apps" issue is fixed in the latest Milestone 3 release.

[2017-11-28 17:33] mdmk commented on #29
@dremin
Two logs
[Here](https://gist.github.com/mdmk/af7799b41d5e9e5dd29c3069466e98ca) I run Cairo just afer debugview, and the logitech option icon does not appear.
[There](https://gist.github.com/mdmk/6d4747e8297fcaf7208ca4f2b03419cb) I run Cairo just after debugview, just as before, and switch my wireless mouse off and on in order to force the icon to show.
Please let me know if you need any ot

[2017-11-28 17:35] mdmk commented on #29
[CoreTemp](http://www.alcpu.com/CoreTemp/) tray icon does not work (placeholder black squares instead of temperature counters).

[2017-11-28 17:36] mdmk commented on #16
@dremin Any news on this ?

[2017-11-28 17:40] mdmk commented on #43
Menu bar on bottom has not been implemented yet.
I think I cannot reopen this by myself, isn't it ?

[2017-11-28 17:41] mdmk commented on #44
@dremin That seems good to me, thanks.
The issue can stay closed.

[2017-11-28 17:59] mdmk opened #59 "Apps to auto-select in App Grabber"
- Firefox (64 bit)
- Google Chrome (64bit, not shown at all in App Grabber)
- VLC (64bit, not shown at all in App Grabber)

And the 32bit releases if they also lack...

Would it be possible to also create default groups ?
I think at least an 'Office' category is mandatory, because libreoffice and Microsoft Office add many entries.
Something like this would be a good start I think ([Photo from the

[2017-11-28 22:08] dragonfirecmv commented on #50
Thanks! Just the flyout issues left then.

[2017-11-29 00:46] dremin commented on #29
@mdmk Thanks for the logs, they help a lot. Unfortunately it almost looks to me like it may be a bug in Logitech Options. When the taskbar created message is sent, other applications respond with their icons correctly every time it is sent. Logitech Options only sends a message once you toggled your mouse off/on. To help narrow this down, could you try (with Cairo closed) restarting all explorer.e

[2017-11-29 03:15] dremin commented on #59
These should be included already, but after looking into this I found some other bugs that caused these to be skipped over.
Pre-categorizing these is a good idea. I will give it a go.

[2017-11-29 05:00] dremin commented on #43
I do not plan on implementing menu bar on bottom at this time.

[2017-11-29 10:43] mdmk commented on #29
@dremin When restarting explorer process, Logitech Options does not reappear, even with toggling off and on. But if I unplug and replug the dongle, then hover the tray notification zone with mouse cursor, icon will reappear.
[Here](https://gist.github.com/mdmk/7484167a287702e3bd02dd11ada3294b) a log using this method.
Looks really like a bug in the app itself as you said. Thanks for investigating

[2017-11-29 10:52] mdmk commented on #59
@dremin Could you list the apps that should be auto-selected please ?
I would like to add some other apps but if there are bugs preventing them to show it will just bother you unnecessarily.

[2017-11-29 15:08] dremin commented on #59
The bug was with multiple shortcuts to the same application, so doesn't affect most apps, and will be fixed in the next build.

[Here is the list of app names](https://github.com/cairoshell/cairoshell/blob/9a204ea63fd96dc3dc8775cdd917491c10e6bb6a/Cairo%20Desktop/CairoDesktop.AppGrabber/AppGrabberUI.xaml.cs#L228-L284) that Cairo currently looks for. Feel free to add your suggestions here.

[2017-11-29 16:15] mdmk opened #60 "Add shortcut to computer management"
I'm not sure of exact name of the [app](https://user-images.githubusercontent.com/32496803/33385408-ce0c7eec-d528-11e7-8f1f-5be93aded876.png) in english.
I think a hard coded shortcut [here](https://user-images.githubusercontent.com/32496803/33384883-7f84e8d2-d527-11e7-9888-e48c1b83448a.png) (sorry for the blattant painting) would be useful.

It would avoid the need to have multiple shortcuts for

[2017-11-30 02:45] dremin commented on #60
Computer Management can be added using App Grabber. Is it not appearing in yours?

[2017-12-01 05:49] dremin commented on #29
@mdmk I was able to reproduce the Core Temp issue, and it will be fixed in the next build.

[2017-12-02 20:40] mdmk commented on #60
It is appearing of course, no problem in app grabber.
I just thougt it would be a better place on the orb menu.
I think of it like the right click on the native start orb, where Microsoft lists the system tools in one place.
As you list control panel and modern settings here, I thought it would be convenient and logical to also put it here, it would not clutter app grabber (note microsoft removed

[2017-12-02 21:11] mdmk commented on #59
@dremin Some random unordered thoughts abouts categories, feel free to ignore some or all of them if they are not relevant.
- Do you consider paint as an accessory? Microsoft do, but I'm not so sure it is relevant. Letting it in accessories does not lead to confusion due to the app's lack of complexity. But we have an appropriate Graphic category, what about using it?
- Is it relevant to list libr

[2017-12-02 22:14] mdmk commented on #59
@ dremin File explorer is uncategorized in task view (sorry, not the best place to report it)

[2017-12-05 05:15] dremin commented on #16
@mdmk Yes, I am currently working on the underlying components and getting a list of strings ready. I'll have it soon!

[2017-12-05 20:22] schade opened #61 "UAC prompt blocked when Cairo is active"
When installing any application under (at least) recent builds of Windows 10, the UAC prompt does not come to the foreground unless you exit Cairo and return to the Windows shell. At this point you can see the prompt as a taskbar item and select it to bring the prompt to the foreground. You can immediately relaunch Cairo after accepting the UAC warning with no ill effects.

[2017-12-05 20:36] dremin commented on #61
Hey @schade - I haven't seen any problems with UAC prompts coming to the foreground on my Windows 10 machines. A couple questions to help me reproduce-- what build of Windows 10 are you using? Is there a certain installer that causes this, and how are you launching that installer?

As a workaround, are you able to access the UAC prompts using alt-tab?

[2017-12-05 20:58] schade commented on #61
I'm on the slow ring of the Insider program running build 17025 currently. When I noticed the issue a few days ago it was on Cairo Desktop M3.6540; I noticed the update available to M3.6545 a few minutes ago and after updating the issue appears to be fixed now.

For reference if this pops back up I noticed this issue on both the 2.7 and 3.6 Python installers, and the Armored Warfare (not Steam) in

[2017-12-05 20:58] #61 closed

[2017-12-06 00:05] mdmk commented on #59
Notepad++ should be in dev tools, not accessory.

[2017-12-08 04:15] stubkan opened #62 "Typing text extremely slow and laggy in Win7"
Running win7, on a panasonic toughbook CF19

When I type text in a browser window field, (ie on discord) or in notepad, etc..

It is really slow, as if enormous processing power was required for each letter, maybe 500ms lag for each letter, but after I type maybe 5 or 6 words, then it speeds up in spurts, to complete a few words, then goes back to incredibly slow laggy typing...

Obviously, this m

[2017-12-08 16:35] dremin commented on #62
@stubkan Thanks for the report. Does this happen the entire duration that you have Cairo open or does it only occur after certain actions? Could you please post a screenshot of Cairo in Task Manager during slowness?

[2017-12-09 00:45] coldacid opened #63 "Cairo crash while in Cairo Settings dialog"
[code]

[2017-12-09 01:02] coldacid commented on #63
[code]

[2017-12-09 11:34] stubkan commented on #62
yeah it seems to be a permanent - always active 'slowness'  ugh.. im typing this in cairo at hte moment,.

every thing that needs to be typed, has the terrible input lag ...

in task manager, resource monitor.. cairo seems to have no discernable resource hogging, other processes take up the resources, such as notepad (when i test) and firefox, .. total resource and cpu used doesnt go above 20%

RA

[2017-12-09 13:43] mdmk commented on #62
@stubkan  Can you scan your system with [mbam free](https://malwarebytes.com/) just to be sure you do not have some kind of keylogger that would interfere with Cairo?

[2017-12-09 14:21] stubkan commented on #62
oh boy i sure hope not.

installing and scanning now...

also getting AVG antivirus to check as well

It's just odd... typing is great, then I start cairo, then it goes out the window... quit cairo, back to normal!

malware found 9 potentials..  8 registry keys and 1 firefox thing...  quarantined the lot

________________________________
From: mdmk <notifications@github.com>
Sent: Sunday, 10 Decem

[2017-12-09 14:30] stubkan commented on #62
AVG also found nothing..

i tried cairo again,

I noticed that after I type a few words, it sort of freezes, and my mouse movement also slows down and clicks dont register...

Any other ideas, what I can try checking?

________________________________
From: mdmk <notifications@github.com>
Sent: Sunday, 10 December 2017 12:43 AM
To: cairoshell/cairoshell
Cc: stubkan; Mention
Subject: Re: [cairoshel

[2017-12-09 16:01] mdmk commented on #62
So no active threat, just leftovers.

Can you check [this](https://support.microsoft.com/en-us/help/894040/adjust-long-delay-in-keystrokes-appearing-due-to-windows-filterkeys)? It concerns native shell and should not affect Cairo, or at least should affect native shell first I think, but better check it out just in case.

I also think of an igp bottleneck. Can you check gpu usage with [process exp

[2017-12-09 16:03] mdmk commented on #62
Also, did you try with antivirus disabled ?

[2017-12-09 19:20] stubkan commented on #62
Hi, thanksk for those suggestions..

I've got process explorere open now..  watching the general screen with all the graphs..

(antiviruses are all off, I keep the task bar icons empty aswell, of all running processes and programs.. I like my system speedy)

filter keys was off, i turned on and off again just in case..

Only thing I notice is..  when I start typing..  there is a spike in I/O in th

[2017-12-10 17:49] dremin commented on #63
Thanks! I'll have this fixed in the next build. Were there any specific steps that you took to produce this error?

[2017-12-10 18:07] dremin commented on #62
I'm wondering if this is a graphics driver issue. I'll add a software rendering mode to the next build to see if this helps your issue.

[2017-12-10 18:12] dremin commented on #16
@mdmk [Here are the strings for localization](https://gist.github.com/dremin/9794634f8c35a39551f848b2a5d00502). The first string on each line should not be changed (it's the identifier for the string), the second string is the display string that needs to be localized.

Thanks so much for helping out with this!

[2017-12-11 05:00] dremin commented on #59
@mdmk -
- Uncategorized is hidden from Programs menu intentionally.
- Safe mode icons should be hidden in the next build.
- Notepad++ category will be Development by default in the next build.

[2017-12-11 16:47] coldacid commented on #63
Nothing specific that I can recall, no.

[2017-12-12 12:35] mdmk commented on #16
@dremin
I'm done with the translation. [Here ](https://gist.github.com/mdmk/0238aa38b481a7312a06deeb58fd19a7) the file.
It will need a bit of proofreading, but I'll wait for a build with localization included If you don't mind.

[2017-12-12 14:52] dremin commented on #16
Thank you @mdmk, the translation looks great!

[2017-12-13 04:26] dremin commented on #63
This should be resolved with the latest build. Please update this if it is not fixed.

[2017-12-13 04:26] #63 closed

[2017-12-13 04:28] dremin commented on #62
Please try the latest build. Once updated and Cairo is running, navigate to Cairo menu > Cairo Settings. Select the "Force software rendering (advanced)" option, then click the orange Restart button that appears.

After Cairo restarts, please let me know if this helps.

[2017-12-13 04:30] dremin commented on #59
The latest build includes the fixes mentioned above. Closing this issue as there are no more outstanding items that I plan on addressing. Thanks for providing the suggestions, this feature is much more complete with them implemented.

[2017-12-13 04:30] #59 closed

[2017-12-13 04:31] dremin commented on #16
Localization support is implemented in the latest build, closing this issue.

[2017-12-13 04:31] #16 closed

[2017-12-13 04:33] dremin commented on #29
@FiddleStickers is your issue still occurring?

[2017-12-13 04:34] dremin opened #64 "Program categories not localized"
The default categories are not localized even though they have translations.

[2017-12-13 04:52] stubkan commented on #62
Thank you for that!

Yeah, I think I'm running in the software rendering now...  Hwoever, the issue of typing lag persists...  :(

For some reason, this new update means I get intermittent brief bursts of smooth typing- but more than not it's lagged.

I'm running on top of explorer. I will restart and replace explorer with cairo and see..  if there is an improvement I'll write another email

_____

[2017-12-13 16:44] mdmk commented on #64
You did not include categories strings in the cairoshell dictionaries in / Cairo Desktop / CairoDesktop.Localization / Language.cs
Perhaps not related, sorry if it is the case.

[2017-12-13 16:50] dremin commented on #64
I included the "All" "Uncategorized" and "Quick Launch" but forgot to add the new ones. Good catch, those will need to be added to the list.

Unrelated but I also noticed truncations in the shut down/restart/log off dialogs, I will fix these as well.

[2017-12-13 17:00] mdmk opened #66 "Missing capital letter in calendar popup"
An non-issue here; the first letter should be uppercase (I know, I'm a bit picky).

![screenshot46](https://user-images.githubusercontent.com/32496803/33951238-bcea469c-e02e-11e7-973a-0afc91552173.png)

[2017-12-13 17:05] dremin commented on #66
I believe the calendar popup is using the region settings from the operating system. With my system set to en_US, these are capitalized. If you open Control Panel > Language > "Change date, time, or number formats" the system should show you an example of the formats its using.

[2017-12-13 17:31] mdmk commented on #66
In fact, the calendar is in french even if Cairo is set to english.
Hum, that means it's a feature and not a bug...

It comes from french default parameters on the Windows level.

![screenshot48](https://user-images.githubusercontent.com/32496803/33952577-898ce08a-e032-11e7-9642-10fc1c6cb139.png)

It should be "Mercredi 13 décembre 2017", with a capital on the first word.
In the first [picture](ht

[2017-12-13 17:35] mdmk commented on #66
An other problem of capitalization.
"Logiciel" should have a lowercase first letter.

![screenshot50](https://user-images.githubusercontent.com/32496803/33953180-6c9c644e-e034-11e7-9373-d66b4239ed93.png)

[2017-12-13 17:51] mdmk commented on #64
It seems the strings of the setup and the check update utility are separate from the rest of the program.
Will you do something about this ?
Also, any projects to localize the website?

[2017-12-13 17:59] dremin commented on #66
How does Windows display the date in the taskbar calendar flyout?

Regarding the updates window capitalization issue, I would suggest [opening an issue with WinSparkle's GitHub](https://github.com/vslavik/winsparkle/issues) to have this resolved in the library.

I would like to get the installer and website localized as well at some point-- I will open a separate issue for those and make updates a

[2017-12-13 18:01] dremin opened #67 "Localizable installer and website"
The installer and website need to be localizable, and strings need to be generated.

[2017-12-14 16:11] mdmk opened #70 "Default places not localized when added to stacks"
They are okay in the Places menu, but once on they are added to the bar as stacks they are in english.

![screenshot1](https://user-images.githubusercontent.com/32496803/34001969-b72eb9cc-e0f1-11e7-9ffe-8c78ddd5db5f.png)

[2017-12-15 00:34] dremin commented on #70
(this fix should also localize program names in the App Grabber as a bonus)

[2017-12-15 12:24] mdmk commented on #70
Works great, well done!
The issue can be closed.

[2017-12-18 01:15] #70 closed

[2017-12-18 01:15] #64 closed

[2017-12-18 01:20] dremin commented on #60
Since Computer Management is more or less an advanced tool, and can be added to the Programs menu via App Grabber, I am going to close this.
As a side note you should still be able to access the Start button right-click menu by using the WinKey-X shortcut.

[2017-12-18 01:20] #60 closed

[2017-12-18 01:23] dremin commented on #62
@stubkan - did replacing Explorer improve this for you? I also wonder if using a fresh user account would help. Another thing to try would be disabling parts of Cairo (desktop, taskbar, etc) to see if a certain component is causing the issue.

[2017-12-18 03:17] dremin commented on #67
@mdmk Could you please help localize the installer strings?

[2017-12-18 03:18] dremin commented on #67
@mdmk Could you please help localize the installer strings?

"This installer will guide you through the installation of Cairo.\r\n\r\nBefore installing, please ensure .NET Framework 4.5.2 or higher is installed, and that any running instance of Cairo is ended.\r\n\r\nClick Next to continue."
"Start Cairo Desktop Environment"
"Please be sure that you have closed Cairo before uninstalling to ensure

[2017-12-18 05:52] dremin commented on #66
Closing as this appears to be working correctly depending on locale settings.

[2017-12-18 05:52] #66 closed

[2017-12-18 06:45] dremin commented on #47
I have added settings for 16px (WinVista default), 24px (Win10 default), and 32px (Win7 default) taskbar icon sizes.

[2017-12-18 16:12] mdmk commented on #67
Sure, I'm pleased to help:
[code]

I think you missed quite a lot of strings, at least the buttons, but there's more in term of agreement and component selection pages, unless you're changing the previous dialogs in the process (I took a look at the current milestone setup file):
[code]

Bonus: the last string you added to the dictionnary :
`{ "sError_CantOpenAppWiz", "Impossible d'ouvrir le panne

[2017-12-18 16:20] mdmk commented on #67
About the website, can you tell me more about what you think is possible?
Do you wish to keep it on github pages hosting?
In this case, the localization is only possible with javascript (no PHP or such server side languages).
Or plain HTML with hyperlinks, one page for each language.

There is not much to translate on the page so I think I could quickly translate the 4 paragraphs or so.

[2017-12-18 16:23] mdmk commented on #59
I spotted a regression on M3.6557
This apps are no longer auto-selected, unlike before (it is working fine in M3.6555) :
- Calculator
- Sticky notes
- Edge
- Dropbox
As for OBS, it is now called `"OBS Studio (64bit)"` and `"OBS Studio (32bit)"`, not `"Open Broadcast Software"` like the legacy implementation that is discontinued.
So it is not selected by default. On 64bit OS the setup installs both

[2017-12-18 18:17] mdmk commented on #62
@stubkan You could also try lauching Windows in failsafe mode, then using Cairo. In this mode, there should not be any unpredictable software conflicts.
By the way, does the problem appear with a USB keyboard, not just the internal one?

[2017-12-18 18:22] mdmk commented on #47
That's great to hear. I look forward to test this once the next binary build is out.

[2017-12-19 04:19] dremin commented on #59
The above items should be resolved in the next build.

[2017-12-19 04:28] dremin commented on #67
Thanks for the translations! I have incorporated them.
The other installer strings should be covered by NSIS already.

The website is not hosted on GitHub so I have quite a few options, but I haven't thought about them much yet. I will probably write a PHP solution.

[2017-12-20 04:37] stubkan commented on #62
Nah, replacing explorer it didn't fix it.  I tried turning on/off various cairo features - though there didn't seem to be many.  Also the issue persists with both the USB keyboard and the laptop keyboard.

I'll try the new user thing now.   Also will try starting in safemode.

Where does the hook for the system to start cairo instead of explorer occur?  I'd like to manually edit it to assist my te

[2017-12-20 04:41] dremin commented on #62
If you choose Exit Cairo from the Cairo menu, Explorer will restart.
The switch is in the registry: `HKCU\SOFTWARE\Microsoft\Windows NT\CurrentVersion\WinLogon\Shell`. This is also reverted by the uninstaller.

[2017-12-20 04:48] stubkan commented on #62
It does not seem to restart for me..  (when using just cairo, without explorer running at all) It might be a little wonky because I was also playing with Litestep (which seems to have frozen in development from win98 days)

I have new tests to report :

Safe mode - absolutely no key lag...  it in fact seemed to have less of an input delay than normal windows

debug mode - has the spontaneous key l

[2017-12-20 20:32] coldacid commented on #40
Definitely would like to have this. +100.

[2017-12-24 04:03] dremin commented on #47
This is now available in the current release.

[2017-12-24 04:03] #47 closed

[2017-12-28 07:20] Krutonium commented on #40
Would it be alright to make a feature request for having Cairo reserve space on the top of the screen and have the dock at the bottom disappear and reappear on mouseover when there is a fullscreen (non exclusive) window open? This would address the quoted part, and would also be really nice in a multimonitor environment as well.

[2017-12-28 10:48] AndrePageot opened #71 "feature request: taskbar height"
I am used to a windows taskbar that is double the usual height, as a developer I have many apps i use and need quick access to, so i have many pinned applications.
I can't find a way to double the height of the cairo taskbar.
I'd also like to see open apps as a highlighted pinned icon on the taskbar, is this something you plan to implement?

There are so many things i like about cairo, and i hope

[2017-12-29 05:07] dremin commented on #57
This is now available in the latest release.

[2017-12-29 05:07] #57 closed

[2017-12-31 14:18] mdmk commented on #71
Hello @AndrePageot,
Can you precise your request please ?

- If you mean a single row of apps that is double the default size, the latest build has three icon sizes in the options, I suggest you try `24px` and `32px` sizes. If it is what you wanted, please report back so we can close this issue.

- If you mean two row of apps, I don't think it will be implemented soon if ever. The main developper

[2017-12-31 14:43] mdmk commented on #62
@stubkan In safe mode there is no lag?
If you don't want to do a clean install from scratch, I suggest you try to fiddle a bit with `msconfig `(start options) to identify the culprit.
You can find it by typing `msconfig `in the start menu search bar,
You can proceed through the steps below, step by step, with a reboot between each step.
I'm on Windows 10 in french so names will be a bit different

[2017-12-31 14:50] mdmk commented on #40
@Krutonium Cairo already reserves space at the top of the screen, do you have a problem with windows overlapping the top bar?
As for the autohide, this is a duplicate of #48.

[2018-01-01 23:37] dremin commented on #29
Closing due to lack of further reproduction.. feel free to provide more details if you have any. Thanks!

[2018-01-01 23:37] #29 closed

[2018-01-02 04:37] dremin commented on #34
This is fixed in today's release.

[2018-01-02 04:37] #34 closed

[2018-01-02 21:58] mdmk commented on #67
@dremin Do you have any project for a more user-friendly way of contributing translations?
Transifex is free for open source projects for example.

[2018-01-02 22:05] mdmk opened #72 "Hide .ink file extension in top right search field"
Windows itself never shows .ink file extension, even when ticking the 'show file exentension' option in Windows explorer.
I think it should be better to mimic this behaviour even if it is an edge case.

[2018-01-02 22:49] dremin commented on #40
If I understand correctly the main request here is to have the Cairo menu bar and taskbar duplicated across displays. This is something I am working towards but it might be a while before it is ready due to some prerequisite refactoring in how Cairo manages its windows.

[2018-01-02 23:17] mdmk commented on #40
I think that is it. In short, replicate basic bahaviour of Windows 10 with multiples taskbars. If possible, make separate option for enabling multiple menu bars and taskbars independantly.

[2018-01-04 06:10] dremin commented on #67
@mdmk I have not but will need to when Cairo supports more languages. It's not worth it at the moment until there are more translation contributors.

Also, I have made the decision to not localize the web site at the moment, as I won't be able to help troubleshoot Cairo issues with users who don't have some English knowledge. I wouldn't be surprised if this changes in the future but I will need a

[2018-01-04 06:10] #67 closed

[2018-01-04 06:15] dremin commented on #45
Could you please clarify? Is this request just for bringing the toolbar to the front, or the whole desktop? I am confused how this differs from #46.

[2018-01-04 06:16] dremin commented on #46
WinKey+M should minimize all windows.

[2018-01-04 12:32] mdmk commented on #45
What I understood from @nickisghosty is he asked to be able to bring the dynamic desktop to the front. So put the shortcuts on top of other apps. It can seem a bit weird but on Windows dynamic desktop is an feature exclusive to Cairo. So it would  be a way to add flexibility to this exclusive feature.
But it could also be seen as a bug by users not aware of this feature so it is a bit dangerous to

[2018-01-04 12:43] josuave commented on #45
My recommendation for this feature, which was how I envisioned it when I originally designed and created it, was to have a global mouse hook to track when the mouse was on top of it (regardless of controls current z-order). The Dynamic Desktop controls, only those, would be moved to topmost but at  say 15-20% opacity. If the user paused on the controls for a moment or clicked then it would goto fu

[2018-01-04 12:45] mdmk commented on #46
If I remember correctly, Win+D (toggle desktop) did not work. I did not test Win + M but it should only hide, without possibility to show again Windows as they were previously.
I'll test this later and report back.

I'll try develop the idea of a button on the other side.
Imagine a hot corner like on native taskbar, it would be a plus.
It would be like an invisible button (1 pixel by one pixel).
I

[2018-01-04 23:50] dremin commented on #45
@josuave - welcome back! Are you saying even when windows are covering the controls, if the mouse cursor is at the same coordinates as the controls, the controls would come to the front?

[2018-01-05 00:53] josuave commented on #45
That was correct. I thought about it a bunch years and thought it was a good idea but hinking about it now I think that it could be too intrusive for users. An optional setting for the mouse over, maybe? A global keyboard hook would be useful. Maybe a designated button on the “taskbar”?

Sent from my iPhone

On Jan 4, 2018, at 6:50 PM, Sam Johnson <notifications@github.com<mailto:notifications@git

[2018-01-05 07:09] dremin commented on #72
This is fixed in the latest release.

[2018-01-05 07:09] #72 closed

[2018-01-05 21:41] mdmk opened #73 "Win + D shortcut"
Win + D shortcut should not toggle dynamic desktop in addition to toggling windows (minimize/restore).

[2018-01-05 21:42] mdmk commented on #46
Win + M works as intended
For Win + D I knew there was something wrong I forgot.
It does toggle every Windows, but also dynamic desktop, which is not intended.
I opened the issue #73 for this bug.

[2018-01-05 22:20] mdmk commented on #46
As for the hot corner, [here ](https://sites.google.com/site/bytecar/home/hotcornersapp/hotcornersapprelease15) is an example of app that does just do hot corners in the way I thought of (ok it shows desktop, not toggle it but that's close).
I'd personnaly prefer to have to click in the corner and not just hover it, to prevent unwanted toggles, but that's the spirit globally.
Tell me if I can open

[2018-01-05 22:21] mdmk commented on #72
Works like a charm 👍 Thanks.

[2018-01-05 22:30] mdmk opened #74 "Add a delete cross on the right of search field"
In order to delete the typed text (for the lazy users, I think I'm concerned alas 😛 ).

[2018-01-06 06:11] dremin commented on #46
I now understand this issue versus #45. I think the best method of accomplishing this is by fixing #73 so that there is a hotkey as requested, close this and instead implement #45 as I really like the idea of a dynamic desktop 'overlay'.

[2018-01-06 06:14] dremin commented on #45
@josuave I agree that it would probably not be ideal; I would find it annoying personally, and since the controls can be moved, the user may not know where they are until they are found accidentally.

I think a button and a keyboard shortcut would be ideal activation methods for now. I was considering a button on the desktop itself, but that would only be feasible with the 'taskbar reserves space'

[2018-01-06 11:12] mdmk commented on #46
OK that seems good to me.

[2018-01-06 16:34] josuave commented on #45
I spent 20-30 min the other night looking at Cairo. The moving controls was actually a surprise to me, I didn’t  know. I’m going to start playing with a plug-in system and an object model system for Cairo, both were in my original plans for it but any ways I can up with a really interesting solution.
With the controls movable a keyboard shortcut (maybe start thinking of having a shortcut assignmen

[2018-01-06 17:01] dremin commented on #45
I've been slowly refactoring pieces of Cairo to be more flexible, so this is good to hear. Let me know if you'd like to continue talking about this outside of the thread; there's a lot of cool stuff we will be able to do if you'd like to continue helping out!

[2018-01-06 17:02] dremin commented on #46
Closing in favor of #73 and #45

[2018-01-06 17:02] #46 closed

[2018-01-06 17:03] josuave commented on #45
Let’s do it

Sent from my iPhone

On Jan 6, 2018, at 12:02 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

I've been slowly refactoring pieces of Cairo to be more flexible, so this is good to hear. Let me know if you'd like to continue talking about this outside of the thread; there's a lot of cool stuff we will be able to do if you'd like to continue helping ou

[2018-01-06 17:23] dremin commented on #45
If you have twitter, tweet me @dremin, otherwise if you have a preferred messaging service we can use that

[2018-01-06 17:56] Hacker1245 opened #75 "Cairo Shell sometimes randomly clicks"
As I said, the shell randomly clicks. You can see it when you type in a text field or while navigating through menus.

[2018-01-07 06:48] dremin commented on #75
Could you please clarify what you mean by random clicks? I am aware of certain apps stealing focus due to Cairo’s notification area. Try this: open Cairo Settings > Menu Bar and deselect the periodic re-hook option at the bottom, then restart Cairo.

[2018-01-08 17:07] mdmk opened #76 "Space reservation wrong when native taskbar on top"
If I set native taskbar on top before lauching Cairo, there is a space between apps or notification center right panel and cairo menu bar. This space is the same height than the native taskbar. If I do a screenshot the problem disappear and space is reclaimed.

[2018-01-08 17:13] mdmk commented on #50
As a workaround for lack of sound dropdown, you can use EarTrumpet if you are on Windows 10.
It's a clone of the default tray icon, but with a more convenient volume mixer.
But I encounter a crash when lauched after Cairo, of after a few click if lauched before Cairo. I fill in a separate issue for this bug.

[2018-01-08 17:19] mdmk opened #77 "Crash of EarTrumpet"
I tried [EarTrumpet](https://github.com/File-New-Project/EarTrumpet/releases) (latest binary builds ont the Microsoft Store, those on github are outdated) to replace the sound tray icon that currently doesn't work (#50).
I encounter a crash when lauched after Cairo, of after a few click if lauched before Cairo.
[here](https://gist.github.com/mdmk/bc697000ccf3f34f8ed694b65733cb07) the detail of the

[2018-01-10 14:48] Annorexorcist opened #78 "Windows 10 native blur behind the Menu Bar"
I'm not sure how hard it would be to implement this feature. I can already enable native blur behind it with the SetWindowCompositionAttribute.exe tool made by bigmuscle:
![afx1iit](https://user-images.githubusercontent.com/7005143/34778444-55f57664-f5eb-11e7-994e-cf8de3a3a117.png)
It would just be nice to have it there as an option.

[2018-01-13 12:40] pmikstacki commented on #73
Win+D is an explorer.exe registered key. We need to override this hotkey with p/invoke (I can find a solution) or write a new explorer app from scratch (xD)

[2018-01-13 14:50] josuave commented on #73
Are you running on top of Explorer shell or is Cairo the shell?

Sent from my iPhone

On Jan 13, 2018, at 7:40 AM, theepicmixer <notifications@github.com<mailto:notifications@github.com>> wrote:

Win+D is an explorer.exe registered key. We need to override this hotkey with p/invoke (I can find a solution) or write a new explorer app from scratch (xD)

—
You are receiving this because you are subsc

[2018-01-13 16:11] pmikstacki commented on #73
isn't the explorer neccesary to run with uwp-host functionality? I was developing something similair and uwp apps won't start without explorer

[2018-01-16 01:07] dremin commented on #77
Try disabling "Periodically re-establish notification area hook" in Cairo Settings > Menu Bar.

This is ultimately a bug in EarTrumpet making assumptions about the taskbar window, but this should work around that.

[2018-01-17 04:09] riverar commented on #77
This is a Cairo appcompat bug, marking it as an enhancement

[2018-01-17 04:10] riverar commented on #77
Cairo needs to handle this for appcompat, not a bug on third-party apps.

[2018-01-17 04:22] dremin commented on #77
[I created an issue for this in the EarTrumpet repo.](https://github.com/File-New-Project/EarTrumpet/issues/181)

[2018-01-17 17:54] mdmk commented on #77
It does work with "Periodically re-establish notification area hook" thanks.
I notice network tray is almost functional with this disabled.
If you let the option ticked and spam sound tray icon, then network will not function anymore.
But if unticked network is not affected and works almost correctly (often need to click two times for the popup to appear)

[2018-01-17 17:57] mdmk commented on #50
As seen in #77, try disabling "Periodically re-establish notification area hook".
Ear Trumpet and native network tray will work correctly then.

[2018-01-17 18:07] mdmk opened #79 "Make the tray icons open at the top of the screen"
Any way to have the EarTrumpet and native network tray on top by default instead of bottom?
Placing native taskbar to top, the tray menus are almost correctly placed (there is a gap of a few pixels, because native taskbar is taller than cairo menu bar).
Any way to auto-move taskbar to top and correct the reserved space to perfectly fit the cairo menu bar?

[2018-01-17 21:12] pmikstacki opened #80 "Windows Action Center Act as Toggle, not button"
There is a problem with action center button. When you click it shows an action center, but when you want to hide it (clicking at the same button) it opens again.
I managed to fix it by just adding this to begining of a MenuBar.xaml.cs
private bool IsActionCenterOpen = false;
and this to action center click
 IsActionCenterOpen = !IsActionCenterOpen;
            if(!IsActionCenterOpen)Shell.ShowAct

[2018-01-18 00:32] dremin commented on #80
This will be fixed in the next build. The problem was because Cairo took focus when the icon was clicked, Action Center would disappear, and then when the mouse button was raised, it would appear again. I fixed this by preventing Cairo from taking focus when this button is clicked.

[2018-01-18 18:52] mdmk opened #81 "Taskbar is hidden in task view when no space reservation"
Taskbar is hidden in task view when no space reservation, it would be better to show it.
I hope it is possible to draw something on top of it by the way.

[2018-01-18 18:53] dremin commented on #81
Taskbar is visible in Task View for me. Are you using the "Taskbar reserves space" option?

[2018-01-18 18:56] mdmk opened #82 "Add an option to bind a key to the cairo start menu"
For keyboard addicts.
But leave this as an option.
Leaving the choice of the key to bind would allow to override Win key, or set an other key to be able to use both start menus.

[2018-01-18 19:16] dremin commented on #81
Okay, thanks for confirming the setting. Reserving the space is the only way to show the taskbar on Task View as it creates a full screen always on top window.

[2018-01-18 19:16] #81 closed

[2018-01-19 02:13] dremin commented on #50
One alternative network icon solution is to change the action of clicking the network icon. You can do this via a registry change on Windows 10:

HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Control Panel\Settings\Network
1. Right-click the registry key > Permissions > Change Owner to yourself and then give yourself full control
2. Double-click "ReplaceVan"
3. Use one of the follow

[2018-01-19 02:56] dremin commented on #73
@pmikstacki Yes, Explorer needs to be running for UWP apps to function.

[2018-01-19 12:41] rapatel0 opened #83 "Screen doesn't auto lock based on timeout in Power Settings"
OS: Windows 10 Pro - OS build 16299.192

While Cairo desktop is enabled the screen will stay on despite a timeout in windows power settings.

It's stupid but I need it for security compliance at work

[2018-01-21 05:08] dremin commented on #83
I am aware of certain apps stealing focus due to Cairo’s notification area. I wonder if that is causing your problem. Try this: open Cairo Settings > Menu Bar and deselect the periodic re-hook option at the bottom, then restart Cairo.

[2018-01-21 05:11] dremin commented on #79
EarTrumpet should open at the top of the screen with a few tweaks I've already made to Cairo, in conjunction with a pull request I opened for EarTrumpet, if accepted.

With regards to the network flyout, that may be a separate issue. Cairo is in constant battle with Explorer on owning the notification area (hence the re-hook option) so I do not know if this is something I can fix but I will contin

[2018-01-21 05:12] dremin commented on #82
I agree Cairo needs keyboard shortcuts! I will probably add one for Search as well while I'm at it.

[2018-01-21 05:14] dremin commented on #75
@Hacker1245 have you been able to confirm if that setting change fixed the issue?

[2018-01-22 16:15] coldacid opened #84 "Silently crashes right after launch on Win10 Insiders build 17074.1002"
Whenever Cairo is launched on the latest Insiders build, it appears but dies before it can be interacted with.

[2018-01-22 18:41] coldacid commented on #84
I don't get any error message from Windows or Cairo, but there are three related events in the Application log -- two errors (a .NET Runtime error and an Application Error) and a WER info event. Looks like a fault happens in d3d9.dll which turns into an unhandled exception which causes Cairo to die.

[Cairo crash event logs.zip](https://github.com/cairoshell/cairoshell/files/1653172/Cairo.crash.ev

[2018-01-22 18:56] dremin commented on #84
Thanks for the logs. What other applications do you have running (including background apps)? Does the issue persist after a reboot?

[2018-01-22 19:02] coldacid commented on #84
Yeah, it definitely persists after reboot.

Also running at all times are Discord, KeePass, Stardock Fences, Stardock Groupy, Steam, GOG, qBittorrent, Dropbox, Google Drive File Stream, Peercoin, and Alienware system stuff.

[2018-01-22 19:22] dremin commented on #84
To help narrow things down.. The only item that stands out as potentially being problematic is the Alienware apps. If you close them does Cairo launch?

[2018-01-22 19:47] coldacid commented on #84
All that changes is how long the app lives for before crashing again.

The Alienware apps are just the one for changing the case colours and Dell Update (which I'm only running in hopes that my system will get the Spectre firmware update).

[2018-01-23 19:40] coldacid commented on #84
Nothing changed but it seems to work fine now. Maybe it was just some oddness with Windows post-update.

[2018-01-24 00:09] dremin commented on #84
Weird, glad you have things working now! Feel free to update this if you are able to find a way to reproduce in the future.

[2018-01-24 00:09] #84 closed

[2018-01-24 00:11] dremin commented on #62
Closing due to lack of response.. feel free to update this if you are able to isolate the issue!

[2018-01-24 00:11] #62 closed

[2018-01-24 04:22] dremin commented on #73
When WinKey+D is used, a shell WorkerW window is made the topmost window covering all windows. The referenced commit works around this by making the Cairo Desktop window topmost once the WorkerW window becomes topmost.

[2018-01-24 05:39] dremin commented on #80
This is resolved in the latest build.

[2018-01-24 05:39] #80 closed

[2018-01-24 05:40] dremin commented on #73
This is resolved in the latest build.

[2018-01-25 23:54] dremin commented on #73
Reopening this because I am going to revert the change as it has too many problems.

[2018-01-28 06:51] dremin commented on #45
I've added a Win+Shift+D shortcut to activate the dynamic desktop overlay.

[2018-01-28 06:52] dremin commented on #73
It doesn't look like I can override Win+D since it is already registered by Explorer. #45 will fix this with the Win+Shift+D shortcut.

[2018-01-28 06:56] dremin commented on #82
This will be Win+Shift+C for now but I want to add customization for hotkeys in the future.

[2018-01-28 13:09] mdmk commented on #82
It is a good start, thanks 👍
I notice we cannot exit the Cairo start menu with escape or Win+Shift+Z again.

[2018-01-28 13:25] josuave commented on #73
I don’t have my computer near me but see if this allows you to override the win+d combo:

In registry:

HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer

create a new DWORD NoWinKeys and set its value to 1

This should disable all win key combos. I have not tested but I would imagine that it just tells explorer not to register them.

Sent from my iPhone

On Jan 28, 201

[2018-01-28 20:56] dremin commented on #73
This works, but it removes the ability for Cairo to invoke Action Center (there used to be a URI to access it but this was removed). It also removes the Run shortcut but this is easily fixed by adding a shortcut in Cairo. Surprisingly Task View still works (Win-Tab) and the Snap commands.

[2018-01-28 20:59] dremin commented on #82
Good catch, this will be fixed in the next build.

[2018-01-29 01:11] josuave commented on #73
Very interesting, I assumed that that all would break.

Sent from my iPhone

On Jan 28, 2018, at 3:56 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

This works, but it removes the ability for Cairo to invoke Action Center (there used to be a URI to access it but this was removed). It also removes the Run shortcut but this is easily fixed by adding a shortcut in

[2018-01-31 15:41] HeatedTea commented on #40
When "Taskbar reserves space" is selected, space is reserved even on a second monitor where no Taskbar is displayed.

[2018-01-31 15:43] HeatedTea commented on #48
This is a critical feature for me, please consider it.

[2018-01-31 16:25] dremin commented on #40
@heatedtea I am not able to reproduce this on my triple monitor setup. Are you using Nvidia Surround or other similar software to merge displays?

[2018-01-31 16:33] HeatedTea commented on #40
@dremin No, but oddly I can't reproduce it either anymore.

[2018-01-31 17:24] simonporte opened #85 "Feature Request: Drag and drop enhancement"
For now, there is no drag and drop support with anything out of Cairo.
E.g. if I drag a file from explorer to an app icon in taskbar, the app will not take focus, hence no possibility for the app to take the file.
Or if I drag a file out of cairo stacks to explorer, I will not be able to move or copy.

[2018-01-31 18:45] mdmk commented on #71
Choosable icon size is duplicate of #47 (closed).
Should I open separate issues for multirow taskbar and option for icon/label combination in taskbar?

[2018-01-31 18:52] mdmk opened #86 "Bug: MacType Tray crashes"
MacType is an alternative font rasterizer for Windows.
Launching MacType Tray is the easier way of using MacType font smoothing sytem wide.
Could you see if there is a way of making it work with Cairo?
It does report access violation, enabled or disabled from tray.
![screenshot7](https://user-images.githubusercontent.com/32496803/35641166-b5c37192-06bf-11e8-989a-c53d720d2e93.png)

By the way, if I

[2018-02-01 05:58] dremin commented on #45
For UI implementation I have added a toggle button to the left side of the taskbar.
![screen shot 2018-02-01 at 12 58 09 am](https://user-images.githubusercontent.com/7373633/35663390-041144fc-06eb-11e8-844c-a3834ab4b484.png)

[2018-02-01 06:07] dremin commented on #86
WPF uses its own font rendering engine, so font smoothing is always 'on' in Cairo. However, I tried Cairo with MacType and noticed that MacType correctly changed the font rendering in Cairo (and honestly, it looks very nice).

As for the error with the tray application, I tested a large number of ways to send messages to this application but I was not able to find a way that did not throw an error

[2018-02-01 06:20] dremin commented on #71
Taskbar items auto-resize so you should be able to fit a large number of windows. You can also choose a small icons setting for even more space. To address additional windows the planned implementation is to do back/forward arrow navigation (a la Cairo menu bar stacks).

[2018-02-03 04:18] dremin commented on #73
I'll make the hotkey customizable so that if a user prefers to enable the registry value, they can change Cairo to use Win+D.

[2018-02-03 06:55] dremin commented on #45
This is now available in the latest build.

[2018-02-03 06:55] #45 closed

[2018-02-03 06:56] dremin commented on #82
This is now available in the latest build.

[2018-02-03 06:56] #82 closed

[2018-02-03 12:28] mdmk commented on #82
@dremin Win+Shift+Z works and closes Cairo start menu.
Escape does not work when using Win+Shift+Z to open first.
But Escape does work if I mouse click on button, or if I mouse click, then close and reopen with Win+Shift+Z.

[2018-02-03 13:16] mdmk commented on #71
On a 1080p screen, with medium icons, I can have more than 20 apps opened and some quick lauch shortcuts, and they show without problem, it is not a concern of place.
It is more the fact that it would be good to have an option to not show text for apps, like in Windows 7+.
I personnaly don't need to read the text next to each icon, so this is just cluttering the taskbar.
But in order to remove tex

[2018-02-04 04:21] dremin commented on #75
Closing due to lack of response.

[2018-02-04 04:21] #75 closed

[2018-02-04 04:26] dremin commented on #73
Hotkey customization plus the registry trick above seems to solve this; closing.

[2018-02-04 04:26] #73 closed

[2018-02-12 15:39] mitchellurgero opened #87 "[QUESTION] Plugins / Modules?"
Does Cairoshell have a module or plugin system? I'd love to develop some "native" apps for it :)

[2018-02-12 17:35] mdmk opened #89 "Comments on the terminology used"
I think some words should be more precise.
So I'll list them and put my suggestion and explain why.

Quick Launch --> Quick Launch Area
Desktop Overlay --> Dynamic Desktop Overlay
Toolbar --> Desktop Navigation Bar

Speaking of quick lauch makes me think of autostart or something, an action, not the place I would seek for icons.
Desktop overlay makes me think of an overlay, like FPS counter, that

[2018-02-12 17:42] mdmk opened #90 "App added to quick launch are not saved after restart when using right click popup"
When I use right click to add an application to quick lauch and quit Cairo, the change is not saved.
Using App Grabber is OK.

[2018-02-12 18:27] dremin commented on #87
A plugin system for Cairo is on the roadmap but is not yet implemented. Feel free to help out if you'd like!

[2018-02-12 18:43] dremin commented on #90
Oops, thanks for pointing this out.

[2018-02-12 18:59] dremin commented on #89
I agree on all of your points and will implement these changes, thanks for the feedback.

[2018-02-12 19:51] mitchellurgero commented on #87
hmm I'll fork the code and see what I can come up with! At the very least, there needs to be, I think, some type of CairoApp framework. I think that would be awesome!

[2018-02-12 20:13] dremin commented on #87
I know @josuave has thought about ways to implement this in the past so hopefully he has some input. A good starting point would be the ability to host plugins inside the menu bar (a la menu extras on macOS). We would also need a way for the plugin to be able to inherit Cairo themes and common functionality.

[2018-02-12 20:28] mitchellurgero commented on #87
I have an idea on how, the issue is modifying the current code to call "plugin xyz" when it needs to, or display different things, etc.

[2018-02-12 23:06] josuave commented on #87
I will see if I can get some code posted in my fork. I was toying with a provider-based plugin system and a WindowsShell-object-model to apply to Cairo. Let me know if you want to discuss further

Sent from my iPhone

On Feb 12, 2018, at 3:28 PM, Mitchell Urgero <notifications@github.com<mailto:notifications@github.com>> wrote:

I have an idea on how, the issue is modifying the current code to cal

[2018-02-13 11:52] mdmk commented on #90
It does work OK now.
I think you can close the issue.

[2018-02-13 12:08] mdmk commented on #89
Some more wording suggestions.

When you right click on a quick lauch icon, "Remove from menu" is inacurate as pointed out before
"Remove" would be sufficient, like it is done to unpin special folders (Documents, Download, etc.) on menu bar.
Or "Unpin" (?), to stick to the native Windows words.

If you remove Quick Lauch app, there is "Remove this app from the menu?" and ""<app>" will be removed f

[2018-02-13 14:25] #90 closed

[2018-02-15 21:56] coldacid opened #91 "Crash when opening folder from opened folder on menu bar"
I recieved this message after selecting a folder from an opened folder on the Cairo menu bar.

[code]

[2018-02-15 22:03] coldacid opened #92 "Customizable Places menu"
I'd like to be able to add additional folders to the Places menu, along with folder-like shell objects (saved searches, libraries, etc.).

[2018-02-16 03:49] dremin commented on #91
Thanks for the report! I'll add some additional checks to avoid crashing here. Was there anything notable about this folder? Had it been deleted?

[2018-02-16 15:59] coldacid commented on #91
Nope, nothing notable about it at all.

[2018-02-18 06:00] dremin commented on #91
Do you have 'Enable Desktop' unchecked in Cairo Settings?

[2018-02-18 14:47] coldacid commented on #91
Yeah, I keep that off. I prefer the original desktop.

[2018-02-18 18:31] dremin commented on #91
Thanks for confirming, I found the issue and it will be fixed in the next build.

[2018-02-18 20:36] dremin commented on #83
Closing due to lack of response and reproduction

[2018-02-18 20:36] #83 closed

[2018-02-18 20:37] dremin commented on #79
Cairo now provides apps with the information they need to appear in the correct place. It is up to the application to use this information appropriately.

[2018-02-18 20:37] #79 closed

[2018-02-18 20:38] dremin commented on #86
Closing due to third party issue.

[2018-02-18 20:45] dremin commented on #89
@mdmk Thanks, I've made some more updates with your comments in mind.

[2018-02-18 23:59] dremin commented on #91
This is now fixed in the latest build, please update this if you continue to have the issue.

[2018-02-18 23:59] #91 closed

[2018-02-19 00:00] dremin commented on #78
This is now implemented in the latest build. There is a new setting in the Menu Bar section of Cairo Settings to enable blur.

[2018-02-19 00:00] #78 closed

[2018-02-19 00:01] dremin commented on #74
This is now implemented in the latest build.

[2018-02-19 00:01] #74 closed

[2018-02-22 14:32] batareya16 opened #93 "Cairo sees only a half of screen"
![screenshot](https://user-images.githubusercontent.com/24940733/36543703-9b919bf4-17f5-11e8-915f-2236f5bdd5dd.png)

after restarting Сairo, when I want to change theme, Cairo sees only half of the screen, the second ignores until I reboot the system.

[2018-02-22 18:21] mdmk commented on #93
What is your OS ?
Version of Windows and architecture (32 or 64bit) ?
You can check this via Win+Pause on your keyboard or right click > properties on 'My PC' icon on desktop or file explorer.

Please test if the issue persists without sysinternals virtual desktop running.
Does the issue appear on desktop itself or via TeamViewer ?

[2018-02-22 23:09] mdmk commented on #93
You don't have the latest build ?
I notice the desktop button is missing on the taskbar.

[2018-02-22 23:25] dremin commented on #93
@batareya16 Thanks for the report! In addition to the items requested by @mdmk, when you installed Cairo did you select the option 'run at startup', or 'Advanced users only: Replace Explorer'?
Also, does this happen every time you restart Cairo without rebooting, or only sometimes?

@mdmk - one possibility for the missing Desktop icon is that they disabled Cairo's desktop icons.

[2018-02-23 00:01] mdmk commented on #93
@dremin
I meant [Dynamic Desktop Overlay button](https://user-images.githubusercontent.com/7373633/35663390-041144fc-06eb-11e8-844c-a3834ab4b484.png)
Implémented in #45

[2018-02-25 06:08] dremin commented on #40
I have this working; if everything goes well it should make its way into the next build.

[2018-02-25 07:30] cosmicdan commented on #50
You might of already discovered this, but in Windows 10 (and 8 I assume) the explorer shell is built like a UWP app. The flyouts and Action Center and all that are using Xaml rather than GDI+ - so it can't be manipulated easily.

The explorer shell used to be an app appearing in the WindowsApps folder in earlier builds, but it's since been moved somewhere secret. In my research, I think the only w

[2018-02-25 22:43] dragonfirecmv commented on #50
@cosmicdan correct. However in previous builds Windows create an entry point (usually a shell command or keyboard shortcut) that triggers them, and while it isn't a perfect implementation, it serves the purpose. It seems that Microsoft 'forgot' to reimplement them at the moment.

[2018-02-25 22:52] cosmicdan commented on #50
Indeed, Microsoft "forgot" to implement a lot of things in Windows 10's explorer :)

I'll keep an eye on this thread in case somebody finds a solution. I too am working on a shell ~~replacement~~ augmentation (not something that completely replaces the environment like Cairo does but just adds a Gnome-like toolbar to the top Window) so I would be interested in any discovery anybody might make in t

[2018-02-27 05:09] dremin commented on #50
I'm not sure the problem is that the flyouts are XAML per se-- here's the issue as I see it (based on my time on the issue, but who knows, maybe I'm way far off):

Explorer's taskbar window (Shell_TrayWnd) is still present when Cairo is open due to all of the features Explorer provides. Cairo gets notification area icons by creating its own Shell_TrayWnd and advertising that a new taskbar was crea

[2018-02-27 06:25] dremin commented on #93
I reproduced something that looks like this. It happens if Cairo is set as user shell, and Cairo is restarted after screen res or display changed while Cairo was open. That should be fixed in the next build.

[2018-02-27 15:41] coldacid opened #94 "Crash on wake-up"
Got this after waking up my laptop and logging in, without any interaction with Cairo from system wake-up.

[code]

[2018-02-28 01:58] dremin commented on #94
Thanks! I wasn't able to reproduce with those steps but I took a look and made a change for the next build that should hopefully avoid this in the future.

[2018-03-02 02:29] dremin commented on #94
This has been addressed in the latest release.

[2018-03-02 02:29] #94 closed

[2018-03-02 02:29] dremin commented on #93
This has been fixed in the latest release.

[2018-03-02 02:29] #93 closed

[2018-03-02 02:32] dremin commented on #48
This has been added in the latest release.

[2018-03-02 02:32] #48 closed

[2018-03-02 02:32] dremin commented on #40
This has been added in the latest release.

[2018-03-02 02:32] #40 closed

[2018-03-03 18:31] jmhibben opened #95 "Some installers failing with Cairo running"
I've been using Cairo for a few weeks now, and I've been really enjoying it. However, I recently noticed an issue: Programs relying on `Squirrel.Windows` for their installer seems to fail on Windows 10 as long as Cairo is open; I tried with Station, Rambox, and MailSpring; each of them failed to install, and left no stack-trace in the SquirrelLog file (located in `%APPDATA%/Local/SquirrelTemp`). T

[2018-03-03 20:35] dremin commented on #95
Squirrel installer has some interesting notification area handling code (but I need to spend some time to figure out what's causing this result).

In Cairo Settings > Menu Bar, disabling "Periodically re-establish notification area hook" seems to allow Squirrel installers to run.

[2018-03-03 22:39] jmhibben commented on #95
Seems like an odd thing to halt an installer, but I can confirm that this allows the Station installer to run properly.

[2018-03-05 15:20] coldacid opened #96 "Taskbar enabled when "Enable Taskbar" is turned off, but "Show Taskbar on multiple monitors" is turned on"
The "Show Taskbar on multiple monitors" option should be ignored if "Enable Taskbar" is off, as otherwise it conflicts with Explorer when its own taskbar is shown on multiple monitors and leads to unsightly and unusable desktop space between windows and Explorer taskbar on those additional monitors (with height about the same as the Cairo taskbar).

[2018-03-06 03:14] dremin commented on #96
Whoops, thanks for pointing this out! It will be fixed in the next release.

[2018-03-06 17:58] coldacid commented on #96
Thanks!

[2018-03-07 11:37] 1nsecure opened #97 "[Feature request] WinPE support"
I have tried to use Cairo in WinPE environment (Windows 10 (1709) based with Dotnet Framework addon) and it seems like it does not work.
No errors or anything, just silently exits after starting a process.

So,
1. Anyone have luck with using Cairo Shell with recent WinPEs?
2. Can we add support of it?

[2018-03-07 15:28] dremin commented on #97
I haven't tried Cairo in WinPE yet, but I think it should be possible to get it working. Do you see any .NET exceptions in the Windows event log?

[2018-03-09 10:23] 1nsecure commented on #97
Sadly, WinPE does not have eventlog.
Does Cairo writes logs by itself somewhere?

![cairo-winpe](https://user-images.githubusercontent.com/29379145/37202893-98d7a8fe-2394-11e8-8d08-b51c1c4f7d49.png)

[2018-03-09 11:15] fadhlan43 opened #98 "menu bar issues"
window buttons like close and minimize go behind the menu bar and is impossible to click the buttons without exiting cairo

[2018-03-09 11:18] fadhlan43 commented on #98
![capture](https://user-images.githubusercontent.com/13182548/37205159-484d227e-23c6-11e8-8f23-cc9aaf717d39.PNG)

[2018-03-11 16:25] Gentle888 opened #99 "Option to not creat additional task button when launching from Quick Launch"
Please, make taskbar work like the Mac one. If launching from quick launch liks makes another button in taskbar, it just doesn't make any sense.

Also, there must be an option to choose how multiple stacked tasks will work:

1) Pressing switches task between one another
2) Pressing opens pop-up with opened tasks, here's explanative picture

![cairo feauture](https://user-images.githubusercontent.c

[2018-03-11 16:26] Gentle888 opened #100 "Make Windows key open "Programs panel""
...when explorer.exe is terminated to ensure nothing would conflict.

Also, there need to be other windows key shortcuts to be implemented. For me, especially Win+D to minimizing all windows.

[2018-03-11 17:56] mdmk commented on #98
What is your OS ?
Version of Windows and architecture (32 or 64bit) ?
You can check this via Win+Pause on your keyboard or right click > properties on 'My PC' icon on desktop or file explorer.

Do you use multiple monitors and what is the status (ticked/unticked) of the option "Show menu bar on multiple monitors" in Cairo ?

Please check you have the latest Cairo version. In Cairo menu, use check

[2018-03-11 18:04] mdmk commented on #99
This is more or less a duplicate of #52.
I don't get the point of option 1.
If you mind developing on the matter.
As option 2, thumbnail should be proposed as well (but optional to limit impact on resources).

[2018-03-11 18:11] mdmk commented on #100
@Gentle888
Concerning your second statement, and for your information, as mentioned in #82, new shortcuts and shortcut customisation are planned but not yet implemented.

[2018-03-11 23:20] fadhlan43 commented on #98
OS: Windows 10
Arcitrcture: 64 Bit
Monitor setup: 1 screen
I am using cairo for the sole
pourpose because my native shell isnt working.
I say unreachable buttons because in some windows you cannnot click the
button to the right of the minimize button
also called "grouping"
-Fadhlan

On Mon, Mar 12, 2018, 12:56 AM mdmk <notifications@github.com> wrote:

[2018-03-12 12:05] mdmk commented on #98
I suggest you to repair your native shell first.
Unless @dremin want to investigate this wrong behavior further.
An easy way to repair your shell is to reinstall OS.
It is possible to do this without losing documents and third party applications.
To do so, follow this [procedure](http://www.intowindows.com/repair-windows-10-install-without-losing-apps-data/) carefully.

[2018-03-12 12:06] fadhlan43 commented on #98
ok thanks for your advice

-Fadhlan

On Mon, Mar 12, 2018, 7:05 PM mdmk <notifications@github.com> wrote:

[2018-03-12 12:08] mdmk commented on #98
There are other ways to repair shell but not as straightforward.
After doing this, test Cairo again.
If bug is gone, problem come from wrong Windows installation.
If not, we'll take a look further.
Let us know how things turn out.

[2018-03-12 12:09] fadhlan43 commented on #98
ok

-Fadhlan

On Mon, Mar 12, 2018, 7:08 PM mdmk <notifications@github.com> wrote:

[2018-03-12 12:10] fadhlan43 commented on #98
my native shell i looked up the problem is that shcore.dll is somehow not
being loaded but i checked using dism that the file is ok
-Fadhlan

On Mon, Mar 12, 2018, 7:09 PM muhammad fadhlan <muhammadfadhlan4@gmail.com>
wrote:

[2018-03-12 12:14] mdmk commented on #98
Did you try all these [steps](https://answers.microsoft.com/en-us/windows/forum/windows_10-files/the-shellhistory-folder-crashes-explorerexe/f652ac3c-16ce-4590-8479-459d7faf3985) ?
You can also do them in failsafe mode if it does not work.

[2018-03-12 12:15] fadhlan43 commented on #98
i currently dont have access to my computer atm because exams

-Fadhlan

On Mon, Mar 12, 2018, 7:14 PM mdmk <notifications@github.com> wrote:

[2018-03-12 12:16] mdmk commented on #98
No problem.
Come back when you have time.

[2018-03-12 12:18] fadhlan43 commented on #98
ill finish my exams on 16 Mar 2018

-Fadhlan

On Mon, Mar 12, 2018, 7:15 PM muhammad fadhlan <muhammadfadhlan4@gmail.com>
wrote:

[2018-03-12 12:18] fadhlan43 commented on #98
ok, thanks!

-Fadhlan

On Mon, Mar 12, 2018, 7:16 PM mdmk <notifications@github.com> wrote:

[2018-03-12 12:19] mdmk commented on #98
You're welcome.

[2018-03-12 23:20] dremin commented on #100
Good idea! I hadn't thought about doing this before but I will look into it.

[2018-03-12 23:21] dremin commented on #98
When installing Cairo did you select the option to replace Explorer?

[2018-03-12 23:22] fadhlan43 commented on #98
hmm i wil check later

-Fadhlan

On Tue, Mar 13, 2018, 6:21 AM Sam Johnson <notifications@github.com> wrote:

[2018-03-13 01:45] dremin commented on #97
I played around with this and I don't believe WinPE has the proper support for Cairo; what is available is very limited. Not a single line of Cairo code executes.

For what it's worth, Hyper-V Server or Core installations of Server 2016 support Cairo in a minimal environment.

[2018-03-13 01:45] #97 closed

[2018-03-13 19:31] Gentle888 commented on #100
@dremin Hope to see this feauture in the future! ;)

[2018-03-13 19:44] Gentle888 commented on #99
I think this should be an option too.

[2018-03-13 20:49] Gentle888 commented on #86
This error is happening when you point your cursor on mactype icon. @mdmk can you confirm that?

I created issue thread in MacType repo: https://github.com/snowie2000/mactype/issues/408

[2018-03-13 20:57] Gentle888 opened #101 "Option in settings to re-enable Explorer+Cairo without relaunching installer"

[2018-03-13 21:00] mdmk commented on #101
Indeed, that would be good, especially for testing purposes.

[2018-03-13 21:03] Gentle888 commented on #101
Or switching WiFi networks in Win10 😄

[2018-03-13 21:22] simonporte opened #102 "Feature Request: Add an option to hide some of notification icons"
Currently there is no control over what is shown: all or nothing.
I'd like to add that this feature would provide a workaround for mactype mactray bug.
With icon hidden, mactray would launch and not crash, at least it is what I think.

[2018-03-13 21:26] mdmk opened #103 "Feature Request: Portable installation"
It notice that if I extract the setup or copy program files, cairo works (but uses the settings of the installed version).
It would be good to have the possibility to store configuration in the same folder, for portable use (give choice in setup) from usb thumb drive for example, or for paranoids that do not like to leave traces.

[2018-03-13 21:32] mdmk commented on #86
Yes.
The error is related to tray app itself, not mactype font smoothing.
Even with font smoothing deactivated, mactray crashes when hovering tray icon in Cairo notification zone.
This thread is closed, you should continue on the issue you opened in mactype repository

[2018-03-13 22:07] Gentle888 commented on #102
Tried to workaround this with using MacType in Service Mode, but after restart Cairo nor anything on the system we're affected by MacType.

Yes, I can confirm that we really need this.

[2018-03-13 23:48] mdmk commented on #86
snowie2000/mactype#408

[2018-03-14 10:33] Gentle888 opened #104 "Top panel hids itself randomly"
Cant reproduce. It's totally random.

[2018-03-14 19:49] Gentle888 opened #105 "[BUG] Cairo overlaps Windowed Fullscreen programs"
![image](https://user-images.githubusercontent.com/32046895/37427286-c3f02c28-27ea-11e8-8cc2-1c531784b01c.png)

[2018-03-14 20:23] mdmk commented on #105
Did you set Cairo to replace explorer or not ?
Issue similar to #30
Are you video drivers up to date ?
Does alt + tab bring the game to front ?

[2018-03-14 20:36] mdmk opened #106 "Create an issue template for the repository"
@dremin
[Here](https://help.github.com/articles/creating-an-issue-template-for-your-repository/) the official howto.
It think it would save a valuable amount of time for the future issues.

I think there should be a list of prerequisite information with checkboxes to check.
Eg.:
Prerequisite :

[ ] Windows version
[ ] 32/64bit Windows
[ ] Cairo version
[ ] 32/64bit Cairo
[ ] Cairo set as a shell

[2018-03-15 01:59] dremin commented on #105
Does it happen in all games on your system or just HOTS? I am unable to reproduce this in any game I play.

[2018-03-15 02:11] dremin commented on #106
I agree this would be very helpful! Feel free to take this if you'd like.

One thing I would like is a Troubleshooting page on the GitHub Wiki. That could also include instructions on how to obtain the items requested.

While it would need an affordance for feature requests as well, I think these items at a minimum should be included in the template for issues:
- Windows version & architecture
- C

[2018-03-18 01:20] fadhlan43 commented on #98
ok so i seem to have found a solution which is to use a little program called always-on-top.exe
to make windows stay on top of other windows using Ctrl+Space

[2018-03-18 01:57] dremin commented on #98
When the Windows shell is running (which it appears to be in your screenshot based on the presence of the Action Center button), Cairo sends it commands to reserve space on screen. I suspect since your Windows shell is broken, this isn't working correctly. If you reinstall Cairo with the option to replace Explorer, then log off/log on, I suspect you should see better results. If you're able to try

[2018-03-18 04:19] dremin commented on #104
Have you been able to find reproduction steps? For example, seeing if it happens without other apps running, happening only with Cairo or Explorer as shell, etc. Otherwise, I will have to close this since I am unable to reproduce this (haven't seen it happen to be honest)

[2018-03-18 04:20] dremin commented on #101
This feature will be available from the Settings > Advanced tab in the next build.

[2018-03-18 05:20] fadhlan43 commented on #98
ok im trying that now

-Fadhlan

On Sun, Mar 18, 2018, 8:57 AM Sam Johnson <notifications@github.com> wrote:

[2018-03-18 05:35] fadhlan43 commented on #98
but my explorer shell is still broken so i cant open coltrol panel

[2018-03-18 05:37] fadhlan43 commented on #98
but now window controls dont go behind the menu bar, which is great

[2018-03-18 07:36] dremin commented on #100
This will be available in the next build.

[2018-03-18 07:37] dremin commented on #98
Glad to hear it! I'll close this out.

[2018-03-18 07:37] #98 closed

[2018-03-18 13:02] Gentle888 commented on #105
@mdmk
Cairo is not replacing explorer
Drivers up to date
Alt-tab not solving issue

@dremin
Same thing with OW, SC2 and Destiny 2, all set to borderless windowed

[2018-03-18 15:07] mdmk commented on #105
Perhaps you could try replacing explorer
You can do this by reinstalling.
Or else wait for the next release, @dremin announced there will be an option in settings.

You can also try true full screen mode as a workaround.
True full screen will be on top, but alt + tab will minimise game wich is not very convenient.

[2018-03-18 20:25] mdmk commented on #105
Said option to replace shell has been added to the latest release.

[2018-03-18 21:32] dremin commented on #96
This is fixed in the latest release.

[2018-03-18 21:32] #96 closed

[2018-03-18 21:32] dremin commented on #100
This is now available in the latest release.

[2018-03-18 21:32] #100 closed

[2018-03-18 21:32] dremin commented on #101
This is now available in the latest release.

[2018-03-18 21:32] #101 closed

[2018-03-18 22:49] mdmk opened #107 "Bug: Options in right click when Cairo set as a shell"
When Cairo is set as a shell, right clicking blank space on desktop, second entry opens options.
It does trigger modern control panel, which is unusable when Cairo as a shell.
So no window at all, just icon in taskbar.

[2018-03-19 14:53] apzloy opened #108 "RegisterAsBrowser issue."
I found a lack of functional of your shell. And it's very important for me and may be for others. I use WebBrowser in my projects. It uses [IWebBrowser2](https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/platform-apis/aa752127(v=vs.85)) interface which has [RegisterAsBrowser](https://msdn.microsoft.com/ru-ru/library/aa768264(v=vs.85).aspx) property. This pro

[2018-03-19 17:18] dremin commented on #108
Try disabling the "Periodically re-establish notification area hook" option in Cairo Settings, and restart Cairo. This should allow the other apps to see and use explorer.exe functions while Cairo is running.

[2018-03-20 08:02] apzloy commented on #108
No, it's not about Notification Area (tray). But i did it and it didn't help. I think [IShellWindows ](https://msdn.microsoft.com/en-us/library/windows/desktop/cc836570(v=vs.85).aspx)interface works in this scenario.

[2018-03-20 12:36] josuave commented on #108
I believe the problem is that when Cairo runs as shell (no explorer.exe) some system functionality is lost due to some COM objects and interfaces that are not implemented in Cairo.

Sent from my iPhone

On Mar 20, 2018, at 4:02 AM, apzloy <notifications@github.com<mailto:notifications@github.com>> wrote:

No, it's not about Notification Area (tray). But i did it and it didn't help. I think IShellW

[2018-03-22 02:51] dremin commented on #108
Did you install Cairo with the option to replace Explorer? If not, Explorer is still in the background and can service those requests. The only thing I can think of that would prevent this from happening is Cairo's notification area support which intercepts messages to Explorer.

[2018-03-22 14:02] coldacid opened #109 "Cairo doesn't appear after computer wakes up from sleep in multi-monitor configuration"
After putting my laptop to sleep, when I wake and unlock it after docking it into my multi-monitor setup, Cairo no longer appears although the process for it continues to run. There's a gap on the primary screen for the Cairo menu bar, but the other screens act as if Cairo isn't running at all.

[2018-03-22 14:40] mdmk commented on #109
Are your video drivers up to date ?

Are you using the video connector (VGA/DVI/HDMI/DP) on the laptop or do you use a USB adapter/docking station with video ports on it ?

[2018-03-22 14:59] coldacid commented on #109
Drivers are up to date. One monitor is connected through a USB docking station and the other is connected directly to the laptop via mini DP.

[2018-03-22 15:02] mdmk commented on #109
Same problem if you only use laptop mini DP and no USB docking station ?
Seek for video driver for the USB docking station.
There is chance it use DisplayLink chips.
If it is the case, download latest driver on Display Link website.

[2018-03-22 15:31] coldacid commented on #109
Just checked and yeah. So we'll see tomorrow morning if the problem reoccurs or not.

[2018-03-23 14:27] coldacid commented on #109
Yeah, looks like DisplayLink drivers have fixed it.

[2018-03-23 14:27] #109 closed

[2018-03-25 12:20] apzloy commented on #108
Why are you talking about notification area again? What a point of it?
When you create shell replacement (INSTEAD of explorer), you should create window with className "Shell_TrayWnd" for your notification area. Next step is to call SendNotifyMessageW(HWND_BROADCAST, RegisterWindowMessageW(L"TaskbarCreated"), 0, 0)
In this case you will be able to receive WM_COPYDATA message in your WndProc. Then

[2018-03-25 17:49] dremin commented on #108
You are correct, and Cairo follows these steps. However, many of the shell APIs send messages to the first window returned with the class Shell_TrayWnd. When Cairo's notification area is enabled, Cairo is the first window with class Shell_TrayWnd returned, meaning the message never makes it to Explorer. Hope this makes more sense. Maybe I can forward the requests to Explorer.

[2018-03-25 18:44] apzloy commented on #108
Yes. "first window returned with the class Shell_TrayWnd". You are right. But anyway i can't see relation between my problem and this thing we are talking to.

[2018-03-26 14:32] coldacid opened #110 "[Multimonitor][Bug] Cairo "restores" all over the place when waking a multi-monitor system"
See screenshot. And this time all drivers (including for DisplayLink) are completely up to date.
![screenshot](https://user-images.githubusercontent.com/130681/37912336-53590fa8-30e0-11e8-8734-957a37cca6ef.png)

For three screens, there are four Cairo menubars, with only one of them (the "closer" of the two on the top-right screen) being in the proper location. None of them respond to any input, e

[2018-03-26 14:41] mdmk commented on #110
What is the resources rectangle on top left monitor?
Is this a bad ms paint copy paste or is there two top menu bar on top right screen ?
If two, how many Cairo processes in task manager?

[2018-03-26 21:43] mdmk commented on #110
What is the thing highlighted in pink? ! [](https://i.imgur.com/0z4C4xe.jpg)
Just observing:
It seems the second bar on top right screen is the bar missing on bottom screen.
Taskbar is also spanned across two screens, and misaligned.

Which one is the USB DisplayLink screen ?

[2018-03-26 23:52] dremin commented on #110
Do you see better results if all monitors are set to the same scaling setting?

[2018-03-27 00:18] coldacid commented on #110
@mdmk That's Stardock Fences. Also, pretty sure the menubar for the bottom (laptop internal) screen is the one that is split between the top two screens about two thirds of the way down them. The offset of the top-right screen is because of the screen positioning in the display settings since Windows 10 unfortunately doesn't allow pixel-perfect monitor alignment. IIRC the top-left monitor is the o

[2018-03-27 04:06] mdmk commented on #110
Fences is in wrong position so ?
Try without Fences started.
Stardock tools generally does heavy modifications to Windows,  better to leave it off for test purposes.

As a workaround for what @dremin said, you can lower internal resolution.
It will be ugly and blurry, but bigger.
And no longer high dpi, so not very good idea for a significant test, unless it is totally unrelated.
You can also laun

[2018-03-27 23:31] dremin commented on #50
The Network flyout in Windows 10 should be fully functional now [in this test build](https://ci.appveyor.com/api/buildjobs/co9l8knpxu1iggp1/artifacts/Installer%2FCairoSetup_64bit.exe) **without** needing to disable the "periodically re-establish notification area hook" option. Could someone please double-check on their system as well? Thanks!

[2018-03-28 01:40] josuave commented on #50
Network fly out is working but shows up in the same position it would if the windows taskbar is visible.

Sent from my iPhone

On Mar 27, 2018, at 7:31 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

The Network flyout in Windows 10 should be fully functional now in this test build<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fci.appveyor.com

[2018-03-28 14:33] yanjinhuagood opened #111 "It would be even better to provide a Chinese package."
It would be even better to provide a Chinese package.

[2018-03-28 15:32] mdmk commented on #111
You're welcome to translate the software if you'd like.
If you are interested in contributing, just reply here or at cairo@cairodesktop.com.

[2018-03-29 00:00] dremin commented on #108
Do you have an example program I can use to reproduce the issue?

[2018-03-29 14:41] yanjinhuagood commented on #111
I download the source code to understand

[2018-03-29 14:47] mdmk commented on #111
https://github.com/cairoshell/cairoshell/blob/master/Cairo%20Desktop/CairoDesktop.Localization/Language.cs

[2018-03-29 14:49] mdmk commented on #111
Here is the file to modify.
Copy English block (not french, it is not 100% up to date).
Respect indentation and code blocks.
You can do a pull request or post it raw via gist for example if you prefer.

[2018-03-29 14:51] mdmk commented on #111
Just replace English strings by Chinese, don't touch ids or anything enclosing the string itself.
Add you're language at the end of the file.

[2018-03-29 15:04] yanjinhuagood commented on #111
Okay, no problem.

[2018-03-29 15:07] yanjinhuagood commented on #111
My translation will be sent to you Email

[2018-03-29 15:08] dremin commented on #111
@yanjinhuagood thanks!

[2018-03-29 15:14] yanjinhuagood commented on #111
I Email yanjinhuamail@gmail.com

[2018-03-29 15:17] yanjinhuagood commented on #111
Why do many pictures do not choose path

[2018-03-30 02:33] yanjinhuagood commented on #111
@dremin I translated the need to send to whom.

[2018-03-30 02:35] dremin commented on #111
@yanjinhuagood Please send to cairo@cairodesktop.com Thanks!

[2018-03-30 02:42] yanjinhuagood commented on #111
Pay attention to check

[2018-03-30 02:51] yanjinhuagood commented on #111
To receive?

[2018-03-30 02:58] dremin commented on #111
I got it, thanks!

[2018-03-30 03:00] yanjinhuagood commented on #111
Well

[2018-03-31 01:42] dremin commented on #111
This will be included in the next release.

[2018-03-31 01:47] dremin commented on #110
@coldacid Understood. I actually somewhat expect the positioning of things to not be correct with per-monitor DPI as that is something I am still working on, but the other issues I see on your screenshot are definitely unexpected. Does this happen every time or has it been mostly OK?

[2018-03-31 01:51] dremin commented on #107
I'll hide this item when Cairo is shell.

[2018-03-31 06:25] yanjinhuagood commented on #111
expect

[2018-04-01 04:20] dremin commented on #95
Interestingly, the latest version of the Station installer seems to work now.

[2018-04-02 00:25] dremin commented on #111
This is now available in the latest release.

[2018-04-02 00:25] #111 closed

[2018-04-02 00:25] dremin commented on #107
This is now available in the latest release.

[2018-04-02 00:25] #107 closed

[2018-04-02 00:26] dremin commented on #50
The working network flyout is in the latest release! Is anyone able to try the Power flyout?

[2018-04-02 10:52] mdmk commented on #50
Network flyout working, but icon closes and opens panel.
On first click it opens, if you click further it will close quickly and open.
Didn't try behavior on escape and click outside.

Power flyout not working but right click does (it is a "old" contextual menu, not a black modern one like Network flyout)

Sound flyout not working as before.

[2018-04-02 16:51] coldacid commented on #110
@dremin It's been mostly okay.

[2018-04-07 18:11] Ark-Irion opened #113 "Cannot interact with notification bar items"
Some items that would normally be opened upon left click and display a menu/panel upon right click in the notification bar/system tray can not be interacted with. I experienced this with Volume, Battery, Discord (Canary), and Rainmeter.

[2018-04-07 18:14] Ark-Irion commented on #113
Oops looks like this post is a dupe of #50. Sorry.

[2018-04-07 18:14] #113 closed

[2018-04-08 15:13] josuave opened #114 "[Bug] Rearranging pinned items when taskbar is set to auto hide."
When the Cairo Taskbar is set to Auto Hide and an attempt to rearrange the pinned Taskbar items is made the Taskbar hides before the rearrange operation is complete.

[2018-04-12 01:30] oxysoft opened #115 "Make it possible to close windows with middle click in the taskbar"
Middle click is well established for closing things in tab-like environments. (web browsers, etc.) I have a taskbar modification which lets me do this in Windows, and I find it very intuitive and useful. I think many would find it useful as well.

[2018-04-12 01:33] oxysoft opened #116 "Option to allow single clicks to explore folders"
This is a UX oddity. When clicking an element in the menu bar, it opens a small navigation pane underneath it, and single clicking a folder in it will open the full screen picker. However, the behavior is different in this full screen picker in that you now need to double click folders to enter them.

[2018-04-12 01:33] oxysoft opened #117 "Some way to see the full path of the folder in full screen file browsing"

[2018-04-12 01:35] oxysoft opened #118 "Make it possible to display a parent folder item in the full screen folder browser"
A folder would be displayed at the start with .. for its name.

I know we can use the dynamic navigation toolbar but I find it kind of annoying.

[2018-04-12 09:34] bluemangoop opened #119 "Cairo launches a bunch of programs without reason"
It seems to be launching everything in the Startup folder indescriminately; it doesn't check whether programs are enabled or disabled for startup. If I had to guess, it shouldn't be opening anything at all because Windows will probably open things on its own regardless.

[2018-04-12 09:43] bluemangoop opened #120 "Should be able to hide the menu bar like the task bar."
Title says it all

[2018-04-12 13:09] oxysoft opened #121 "Right-clicking or clicking certain notification icons in the menu doesn't do anything."
Such as Discord or Rainmeter.

[2018-04-13 03:14] oxysoft opened #122 "Middle clicking apps in the programs menu should open the app but keep the menu open"
This would make it possible to chain open a bunch of apps that you quickly need to get to work.

[2018-04-13 03:15] oxysoft opened #123 "Allow custom ordering of programs in the program menu"
Currently, apps are sorted in alphabetical order. It would be nice if we could customize the order manually.

[2018-04-13 14:05] oxysoft opened #124 "Make it possible to customize the label of folder entries in the cairo menu bar."
(Without having to change the actual folder name)

[2018-04-13 14:30] oxysoft opened #125 "Make it possible to open any folder item (in menu bar, in browser, and in jump menu) in Windows File Explorer by middle-clicking"
- Left-clicking a folder in the menu bar opens it in the jump menu.
- Left-clicking in the jump menu opens in the full-screen browser.
- Left-clicking in the full screen browser enters the folder.

Middle-clicking in any of these should open that folder in the Windows file explorer.

[2018-04-13 19:28] oxysoft opened #126 "Allow moving programs in the Programs menu without accessing a secondary interface"
We should be able to directly drag-n-drop programs into different categories without having to access the Categories windows, which is also accessed from the 'App graber' first.

[2018-04-14 00:54] oxysoft commented on #87
+1 for this, should be very high priority. I would love to write plugins to display special things in the menu bar for example. I don't enable notification icons so I have a ton of empty space I'd like to make use of.

[2018-04-14 22:56] dremin commented on #86
This is fixed in the latest build.

[2018-04-14 22:56] #86 closed

[2018-04-14 22:56] dremin commented on #121
This is fixed in the latest build.

[2018-04-14 22:56] #121 closed

[2018-04-14 22:56] dremin commented on #50
Sound is available in the latest build.

[2018-04-14 23:02] dremin commented on #119
Cairo runs the contents of the Run registry keys when it is set as shell because Explorer is responsible for this normally. Windows doesn't execute startup programs automatically.

[2018-04-14 23:58] All-Ki opened #127 "Drag and drop to move items"
I don't know if it's a bug or a missing feature, but i found it really disappointing that there's no drag and drop to move files / folders... First thing i'll look into implementing when i'll help ;)

[2018-04-15 00:21] All-Ki opened #128 "Windows key opens windows start menu"
steps : Press the windows key.
Expected :
Apps menu item opens
Result :
Apps menu item flickers, windows start menu opens

[2018-04-15 04:51] josuave commented on #92
In my fork I have added a plugin system and a sample plugin that adds GodMode to the PlacesMenu

[2018-04-15 04:52] josuave commented on #87
This is now possible in my fork of cairoshell. I have added a plugin system and a simple object model/extension point for the PlacesMenu

[2018-04-15 13:33] josuave commented on #128
I added this in my fork. https://github.com/josuave/cairoshell

[2018-04-15 13:55] mitchellurgero commented on #87
Submit a merge request then!

[2018-04-15 16:40] dremin commented on #87
@josuave Awesome, please submit a pull request when your code is ready!

[2018-04-15 17:15] josuave commented on #87
Will do, gotta figure out how

Sent from my iPhone

On Apr 15, 2018, at 12:40 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

@josuave<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjosuave&data=02%7C01%7C%7C3abb23aa46484f37807308d5a2ef8c89%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636594072093282734&sdata=g9d73ps3i8urVCl00GyND

[2018-04-15 17:38] mitchellurgero commented on #87
@josuave  - With the forked repo, go into "Pull Request" and select "Create" then answer a couple simple questions :)

[2018-04-15 20:45] oxysoft opened #130 "Weather widget in the menu bar, next to the time and date"
Would be a very useful addition. Might be better suited for a plugin when the plugin API lands.

[2018-04-16 01:33] dremin commented on #87
@josuave Thanks, I've merged the changes. I hope we can use this foundation throughout Cairo to improve extensibility and use the logging system for the entire app. I did run into one issue, for plugins that modify the UI like the Places menu, we need to find a way to dynamically instantiate the UI objects multiple times, since currently this won't work with multiple monitor support enabled.

[2018-04-16 01:39] josuave commented on #87
This would be best achieved by putting focus on a more robust object model, my next goal! The sample I made could be modified to loop over the screens/menubars and create an entry in all of the “Places” instances

Sent from my iPhone

On Apr 15, 2018, at 9:33 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

@josuave<https://eur01.safelinks.protection.outlook.com/

[2018-04-16 01:41] josuave commented on #87
I will also build a couple more plugins to demonstrate how plugin dependencies work.

Sent from my iPhone

On Apr 15, 2018, at 9:33 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

@josuave<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjosuave&data=02%7C01%7C%7C3bbd1103885f4152ae8608d5a33a11a7%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C

[2018-04-16 02:51] dremin commented on #87
Sounds good! I did just commit a few tweaks to the build configuration and some other minor items.

[2018-04-16 16:00] oxysoft opened #132 "Menu bar has trouble keeping the right size when disconnecting multiple monitors and moving the Windows taskbar"
I will give more details later, currently not at home where I have access to my second monitor. The menu bar can get stuck in a state where it is not the right width however (it does not fill the horizontal width of the screen, with a vertical Windows taskbar)

[2018-04-16 18:23] Gentle888 opened #134 "[Feature Request] Task List shortcut"
Win+Tab maybe?

[2018-04-16 18:31] Gentle888 commented on #86
Big thanks to you, @dremin, this is damn awesome

[2018-04-16 18:35] Gentle888 opened #135 "[Bug] Metro apps overlays taskbar"
fixed by itself, pls delete this

[2018-04-16 21:00] #135 closed

[2018-04-16 21:01] Gentle888 opened #136 "[Bug] Alt-Tab doesn't work"

[2018-04-16 22:37] josuave opened #137 "[Feature Request] DynamicDesktop on All Monitors"
Have DynamicDesktop on all monitors with the ability to have different directories for each.
Other functionality would be to include drag and drop support (Copy and Move)

[2018-04-17 02:36] dremin commented on #136
I'm unable to reproduce this, alt-tab always works for me with Cairo open. Do you have steps I can follow to reproduce?

[2018-04-22 17:54] NicTanghe opened #138 "Aero Snap without Explorer"
I was wondering why the windows 10 Window tiling features are removed when cairo replaces the shell.

I am unable to place windows with special + arrowkey

[2018-04-22 19:03] dremin commented on #128
@josuave Might need to look at this some more since it breaks winkey hotkey combos. I tried some code changes so that it only invokes on keyup when no other keys were pressed, but then other apps think the key is still in the pressed state. Not sure if there is a way to have both work.

[2018-04-22 19:09] dremin commented on #125
This was implemented by @josuave using the shift key rather than middle click.

[2018-04-22 19:10] oxysoft commented on #125
That's good, needs to be supported by middle click as well though.

[2018-04-22 21:31] dremin commented on #117
This is going to be a tooltip on the desktop toolbar since paths aren't exactly elegant and I think this is good information to always have available. I also took the opportunity to add tooltips to the buttons on the desktop toolbar as well.

[2018-04-22 21:33] dremin commented on #104
Closing due to lack of reproduction steps. Please re-open if you are able to figure out what steps causes this to happen on your machine.

[2018-04-22 21:33] #104 closed

[2018-04-22 23:38] dremin commented on #87
@josuave is it possible for plugins to be in a subfolder? Would clean things up and prevent needing to handle some exceptions with non-managed DLLs.

[2018-04-22 23:40] josuave commented on #50
A trick to allow the Network and other Explorer notify apps (WiFi) to display in the upper right quadrant.
Quit Cairo, unlock windows taskbar if needed, dock it to the top edge, restart cario. I am investigating a way to do this in code. It seems windows 10 broke moving the taskbar via API

[2018-04-23 03:03] josuave commented on #87
I’ll take a look at this tomorrow.

Sent from my iPhone

On Apr 22, 2018, at 7:38 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

@josuave<https://nam03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjosuave&data=02%7C01%7C%7Cf861d1bf8ced419dd4a608d5a8aa2e7c%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636600371226113073&sdata=JETdGa8ukh0xsqI3L

[2018-04-23 03:06] josuave commented on #128
Ya, I noticed that too. There was another implementation for a keyboard hook that I saw a while back. I remember it handling modifier keys in a more flexible manner.

Sent from my iPhone

On Apr 22, 2018, at 3:03 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

@josuave<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjosuave&data=02

[2018-04-25 22:59] josuave commented on #87
I am looking into a simpler plugin mechanism. I have been toying with using MEF for plugins and NuGet for distribution/management. This is a cool idea as it provides a possibility for a Cairo Store in the future

Sent from my iPhone

On Apr 22, 2018, at 7:38 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

@josuave<https://nam03.safelinks.protection.outlook.com/?

[2018-04-27 22:31] oxysoft opened #139 "Scroll directory flyout pane with scroll wheel"
When clicking a directory in the menu bar, it opens up in a horizontal pane underneath. It would be a great usability improvement if it could be scrolled with the mouse wheel.

[2018-04-27 22:34] oxysoft opened #140 "Very low visual feedback"
This is a UX issue. The UI overall of Cairo has very little visual feedback. For example, when my mouse hovers on a menu bar item, they do not light up even a little. Here is an example of the Windows taskbar that I have on my computer for comparison: https://streamable.com/x6ytw It's especially bad in the directory pane and desktop view which have no feedback. All of this overall contributes to m

[2018-04-27 23:32] dremin commented on #140
This is an area I'd like to improve. Desktop needs the most love in this department. I am not sure about adding hover effects to the menu bar; there actually used to be some which were purposefully removed, but I will consider some options.

[2018-04-28 00:04] oxysoft commented on #140
If anything, it could be configurable in the settings.

[2018-04-28 00:16] dremin commented on #140
It may be best as a theme, it should already be possible to do this with a [XAML theme](https://github.com/cairoshell/cairoshell/wiki/Creating-Themes).

[2018-04-28 00:17] dremin commented on #50
By chance have recent improvements enabled the Power icon to work?

[2018-04-28 01:27] josuave commented on #87
I have stopped the exceptions with unmanaged dlls. I can keep the current plugin implementation and use an assembly naming pattern “CairoDesktop.Plugins.*” or I can replace it using MEF. This should be simpler and should solve a lot of the dependency issues while loading assemblies from alternate locations. Let me know what you think and I will keep investigating

Sent from Mail<https://go.microso

[2018-04-28 13:41] josuave commented on #50
Worked for me. I have also gotten in the habit of moving my windows taskbar to the top of the screen prior to running Cairo to ensure that the shell hosted tray apps appear in the correct location

Sent from my iPhone

On Apr 27, 2018, at 8:17 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

By chance have recent improvements enabled the Power icon to work?

—
Yo

[2018-04-28 23:29] Black-Seraph opened #141 "Feature Request: Run as other user"
For domain administrators that span multiple accounts this is a must have feature.
Just "Run as administrator" doesn't cut it I'm afraid.

[2018-04-29 01:34] josuave commented on #141
I personally would recommend having a shift-right click option like explorer does.

Sent from my iPhone

On Apr 28, 2018, at 7:29 PM, Black-Seraph <notifications@github.com<mailto:notifications@github.com>> wrote:

For domain administrators that span multiple accounts this is a must have feature.
Just "Run as administrator" doesn't cut it I'm afraid.

—
You are receiving this because you are subsc

[2018-04-29 12:01] pavelxkrejci opened #142 "Feature requests: bottom menu bar"
Could there be please optional position for the menu bar at the very bottom of the desktop? I am too used to have it there. Best if task bar could be integrated inside the menu bar, but I would be ok with it being in the second row just above menu bar. Thanks.

[2018-04-30 17:25] josuave opened #144 "[Feature Request] Impliment Command Framework"
This would allow us to Customize much of Cairo, similar to how office allows you to setup custom Quick Launch and Ribbon objects.

[2018-04-30 19:10] josuave opened #145 "[Discussion] Extension points for Cairo"
Let’s collectively start a discussion about where we want Cairo to have extension points and what the best structure is for them.

[2018-05-02 11:03] josuave commented on #145
I chose MEF for its simplicity.

I agree a widget or desktop object infrastructure would be good, like the windows sidebar. I would want the ability to drag them around the screen, maybe have them dock to the screen edges? Also, pin to desktop, floating and “on top” functionality.

Sent from my iPhone

On May 1, 2018, at 10:20 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.c

[2018-05-03 02:31] psharma04 opened #146 "[FEATURE REQUEST] Battery meter and Network status"
I have noticed that Cairo Shell does not have a battery bar or network status in the menu bar. This is an important feature for laptop users, and I was surprised not to find it. Please add this feature to improve the experience of laptop users. Thanks.

[2018-05-03 10:01] owenworley opened #147 "Unresponsive Menu Bar after system sleep"
When my PC resumes from sleep, the primary monitor menu bar does not respond to clicks, neither the options on the left or tray icons on the right.

Software Versions:
OS Name	Microsoft Windows 10 Pro
Version	10.0.16299 Build 16299
Cairo Version 0.3.6654.0 - Pre-release

Reproduction:
Have 2 monitors connected. Primary is 4k (3840x2160), Secondary is 2560x1440. DPI scaling set at 150% in windows 1

[2018-05-03 12:44] oxysoft opened #148 "Speaker button in menu bar should reflect state of volume"
Even if the volume is at 0% or muted, it shows little waves coming out of the speaker. It would be good if the icon reflected more accurately the volume level of the machine.

[2018-05-04 03:58] dremin commented on #148
Oops, this should definitely be addressed.

[2018-05-04 04:06] dremin commented on #147
Does the problem happen with DPI set to 100% on the primary monitor?

[2018-05-04 04:07] dremin commented on #146
What version of Windows are you using? These should appear by default with Windows 10.

[2018-05-05 04:37] gtsiros opened #149 "questions about code"
Cairo Desktop\Startup.cs (224)

[code]
instead,
[code]
Just this for now, I am still reading through the code to get a feel and see if i can improve anything.
I'm new on github and i'm still fuzzy about many details, apologies.

[2018-05-05 10:04] psharma04 commented on #146
I'm on Windows 10, and I have selected Cairo as my default shell.

[2018-05-05 14:43] dremin commented on #149
Originally I had null reference issues here because the function was not thread safe. I added a lock since then so it could probably be cleaned up.

[2018-05-06 18:26] gtsiros commented on #149
there's more important issues than this, imma close this since it's not really anything pressing. Appreciate your response!

[2018-05-06 18:26] #149 closed

[2018-05-07 15:51] LegacyStackCrash opened #150 "ALT+TAB While Using a full screen application"
While using a full screen application such as a Game or any application that completely covers the Task Bar and Application bar, when you attempt to ALT+TAB the top Task/Folder Bar and bottom Application bar will randomly not appear. Sometimes both do not appear, sometimes one will appear and sometimes both will appear. This happens more commonly with applications that can run in a Border-less Win

[2018-05-08 03:49] dremin opened #151 "Tray popups misplaced on 32-bit"
Something isn't marshalling right with the CAIROWINNOTIFYICONIDENTIFIER struct on 32-bit systems.

[2018-05-08 08:53] psharma04 commented on #144
This would be great for enhancing user experience, great idea

[2018-05-08 10:28] josuave commented on #151
What’s the pc setup on this?
32 bit pc and os? 64 bit pc 32 bit os? 64 bit pc and os 32 bit Cairo?

Sent from my iPhone

On May 7, 2018, at 11:49 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

Something isn't right with the CAIROWINNOTIFYICONIDENTIFIER struct on 32-bit systems.

—
You are receiving this because you are subscribed to this thread.
Reply to this e

[2018-05-08 11:49] mdmk opened #153 "Text should be justified in the guided tour"
Simple cosmetic change.

[2018-05-08 13:05] dremin commented on #151
Reproduces on any OS with 32-bit Cairo. The values of the struct are corrupted in the transition to native code. I suspect it is a data type issue between the version of the struct in NativeMethods.cs and WindowsHooks.h.

[2018-05-10 11:56] josuave commented on #151
In doing some research it may be prudent to only allow the 32-bit version of Cairo to run on 32 bit systems. The PInvoke the calls would be accessing 64-bit DLLs

Sent from my iPhone

On May 8, 2018, at 9:06 AM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

Reproduces on any OS with 32-bit Cairo. The values of the struct are corrupted in the transition to native c

[2018-05-10 14:09] dremin commented on #151
Unfortunately that wouldn't solve this particular problem since it happens on pure 32-bit PCs.

[2018-05-12 22:10] dremin commented on #77
This is resolved with the latest version of Cairo and EarTrumpet 1.5.3.0 or later.

[2018-05-12 22:10] #77 closed

[2018-05-12 22:40] dremin commented on #141
This is now available.

[2018-05-12 22:40] #141 closed

[2018-05-12 22:40] dremin commented on #117
This is now available.

[2018-05-12 22:40] #117 closed

[2018-05-12 22:40] dremin commented on #119
This is now available.

[2018-05-12 22:40] #119 closed

[2018-05-12 22:40] dremin commented on #148
This is now available.

[2018-05-12 22:40] #148 closed

[2018-05-12 22:43] dremin commented on #125
Opening a file browser folder icon with a middle click doesn't really follow standard user interface patterns. Is this request to match functionality of some other enhancement you use?

[2018-05-15 12:34] owenworley commented on #147
@dremin I will test with 100% DPI today, sorry I'm so late replying - github wasn't sending me notifications

[2018-05-15 13:34] owenworley commented on #147
I just tested at 100% DPI settings on windows for both monitors, and I still see the issue. It does not seem to be related to DPI,

[2018-05-17 16:38] dremin commented on #147
Did you sign out of Windows and sign back in after changing to 100% DPI?

[2018-05-17 17:28] owenworley commented on #147
No, I will do that now.

[2018-05-17 17:31] owenworley commented on #147
Yes. Logged off and on again after chaning to 100%. The issue still occurs.

[2018-05-18 10:03] owenworley opened #154 "Compatability - 1Password 6 crashes when Cairo is active"
1Password 6 crashes on launch when Cairo is open.
Closing Cairo makes 1Password work again.

(https://1password.com/downloads/)

[2018-05-18 23:02] dremin commented on #147
Interesting.. does this only happen when you have enabled the multi-monitor options in Cairo Settings, or does it also happen when you turn that off?

[2018-05-19 14:08] owenworley commented on #147
It is happening with "Show menu bar on multiple menus" enabled.
I will disable this setting and test again.

[2018-05-19 14:10] owenworley commented on #147
WIth this option disabled enabled, the issue seems to go away.
The menu is present on the primary screen (4k) and not on the secondary, as expected,

[2018-05-19 22:05] dremin commented on #154
I am only able to reproduce this when explorer.exe is running in addition to Cairo. Are you seeing similar results?

Compatibility is difficult with non-open source software since I can't see their code, but I would suggest sending AgileBits Support your 1Password logs so that their app can be more resilient. Of course, I will look into whatever adjustments can be made within Cairo as well to impr

[2018-05-19 22:08] dremin commented on #147
I've added some additional logging to Cairo to help identify if the problem lies where I think it does. Could you please install [this build](https://ci.appveyor.com/api/buildjobs/h106ig3i5qi0k6lu/artifacts/Installer%2FCairoSetup_64bit.exe), set the logging level to Debug from Cairo Settings > Advanced, restart Cairo, reproduce the issue, and provide the log files for the day from %localappdata%\C

[2018-05-19 22:15] dremin commented on #106
@mdmk - were you wanting to do this? Let me know, I can do it if not. Thanks!

[2018-05-20 12:33] mdmk commented on #106
@dremin I wanted to do this but I lack some time to do writing at the moment.
So take the isssue if you want to.

But I searched through the documentation and I think the best thing to use is the default web graphical tool to create issue templates.
The result should be this header on top of issue list:

![](https://help.github.com/assets/images/help/issues/new-issue-page-with-multiple-templates.p

[2018-05-20 14:33] owenworley commented on #147
@dremin Multi monitor taskbar is *enabled* in both cases, enabled or disabled taskbar does not make a difference.

[2018-05-20 14:33] owenworley commented on #147
@dremin I will install the test build and attach logs as soon as I can

[2018-05-20 14:58] dremin commented on #106
Thanks for showing the tool! I was able to add those templates.

[2018-05-20 20:48] hackaholic5069 opened #155 "No way to change wallpaper"
I cannot see a function to change my wallpaper, and i do not enjoy win 10 default in background

[2018-05-20 21:13] owenworley commented on #147
@dremin Here are the logs you requested.

I DId the following (hopefully it will correlate with the logs)

Closed Cairo.
Cleared out all old logs.
Installed the new version.
Set Logging to Debug (restarted Cairo as prompted).
Put System to Sleep.
Waited until PC was fully asleep.
Resumed from sleep.
Tried to tap menu bar on primary monitor (it is unresponsive as expected)

[05-20-2018.LOG](https:/

[2018-05-20 21:27] dremin commented on #147
Thank you for the log, much appreciated! To confirm, you did not make any adjustments or unplug/plugin of your displays? Are you using a displaylink adapter or laptop dock?

[2018-05-21 10:35] owenworley commented on #154
Thanks, I will contact 1Password and ask them to look at a fix.

Yes I only see the error when Cairo is not replacing Explorer.

I would love to use Cairo as main shell without explorer.exe, but due to other compatibility issues this is not feasible yet for my everyday work machine - I am looking forward to the day it is though.

[2018-05-21 10:35] #154 closed

[2018-05-22 23:11] jedr93 opened #156 "Can not open apps store"
when I want to open any app that I have installed from the store as netflix I get the following message:
shell:appsFolder\4DF9E0F8.Netflix_mcm4njqhhss8!Netflix.App
unregistered class.
how can it be fixed?

[2018-05-22 23:48] dremin commented on #156
What version of Windows are you using? Did you select to replace Explorer and use Cairo as Shell?

[2018-05-23 06:21] jedr93 commented on #156
What version of Windows are you using?
I'm using windows 10 rs4 1803

Did you select to replace Explorer and use Cairo as Shell?
Yes.

[2018-05-23 14:34] dremin commented on #156
Thanks! Explorer is required to launch UWP apps under Windows 10, and I don't anticipate this requirement changing any time soon. :(

[2018-05-25 22:08] josuave commented on #147
This is unrelated to the current issue but looking at the debug log I think we should add either module or feature information to what is being logged, especially for debug purposes

Sent from my iPhone

On May 21, 2018, at 6:22 AM, Owen Worley <notifications@github.com<mailto:notifications@github.com>> wrote:

No adjustments to Monitor, no plugging in or unplugging.

It is a desktop PC, Both moni

[2018-05-26 20:52] owenworley commented on #147
@dremin Tested with the latest build, I still see the same problems.

[2018-05-26 21:39] dremin commented on #147
@owenworley Could you please provide the log?

[2018-05-28 20:34] owenworley commented on #147
Sorry for the delay, UK bank holiday - family things.

Logs:

[05-28-2018-CairoLog.LOG](https://github.com/cairoshell/cairoshell/files/2046120/05-28-2018-CairoLog.LOG)

[2018-05-28 20:41] dremin commented on #147
Thanks, no worries. I took a look and I must have linked the wrong build to you without the extra improvements, sorry about that! (log is from 6683 rather than 6684) Could you please try [this build](https://ci.appveyor.com/api/buildjobs/2hqx5hsat4nahm6i/artifacts/Installer%2FCairoSetup_64bit.exe)?

[2018-05-28 20:51] owenworley commented on #147
Of course, downloading now

[2018-05-28 20:55] owenworley commented on #147
[05-28-2018 - Copy.LOG](https://github.com/cairoshell/cairoshell/files/2046167/05-28-2018.-.Copy.LOG)

To ocnfirm, issue still present in 0.3.6684.0

[2018-06-03 05:05] dremin commented on #147
Thanks for the log! I see the results of my change in there and it doesn’t seem to have fixed the issue, but I have a new idea as to where the problem could be- to confirm, does the issue happen if you set Cairo as shell from Cairo Settings > Advanced, then log out and back in?

[2018-06-03 21:07] owenworley commented on #147
@dremin I just tested, and setting Cairo as the shell in advanced settings makes no difference, issue is still present.

[2018-06-14 10:36] riverar opened #157 "Need guidance on how to determine if Cairo Shell is active"
We're a third-party app dev. We need the ability to detect if Cairo Shell is running to change some windowing behaviors. Checking for `cairodesktop.exe` process is too heavy.

[2018-06-14 10:38] riverar opened #158 "Need guidance on how to locate notification area on screen"
We currently use `SHAppBarMessage` to locate the Taskbar *and* Notification Area to position our window correctly. On Cario, this returns the wrong location for the Notification Area.

[2018-06-15 00:56] dremin commented on #157
I’d like to implement changes in Cairo to make sure you don’t have to do a workaround like this. What message are you sending, and what’s the expected vs actual result?

[2018-06-15 01:18] riverar commented on #157
We're calling `SHAppBarMessage(ABM_GETTASKBARPOS, ...)`. It correctly responds with the position of the Cairo Taskbar. (This API wasn't built with an understanding of split notification area/taskbar.)

[2018-06-15 01:19] riverar commented on #157
This issue is to avoid having to implement something like this:
https://github.com/File-New-Project/EarTrumpet/commit/393117b4b7e607f281c572879b3f9235d3385b4b#diff-04e2be4748cbae0bbb78d325d97f49c8L99

[2018-06-16 01:06] GR8smoky opened #159 "Removing desktops"
Just discovered this shell, and have been experimenting with it.  In doing so, I have created some desktops that I would like to clear, delete, disable or whatever term to eliminate them is proper.  Short of reconfiguring the installation is there a way to accomplish this?
While I recognize this is a pre-release edition, I hope someone will kindly assist me.  I have been rather impressed so far.

[2018-06-16 11:02] josuave commented on #159
Are you referencing the virtual desktop system built in the windows 10?

Sent from my iPhone

On Jun 15, 2018, at 9:06 PM, GR8smoky <notifications@github.com<mailto:notifications@github.com>> wrote:

Just discovered this shell, and have been experimenting with it. In doing so, I have created some desktops that I would like to clear, delete, disable or whatever term to eliminate them is proper. Sho

[2018-06-16 15:30] GR8smoky commented on #159
No.  I am referring to what I believe are called Dynamic Desktops.
In an attempt to explain clearly, in Cairo go to and click on Places on top menu bar, then select Downloads; this will load all folders from that directory on to your screen that can now be scrolled through with the dynamic navigation toolbar.  Can that individual screen/desktop be later cleared or removed from showing in Cairo wit

[2018-06-16 15:42] josuave commented on #159
I believe this is accomplished by clicking the home button on the dynamic desktop navigation

Sent from my iPhone

On Jun 16, 2018, at 11:30 AM, GR8smoky <notifications@github.com<mailto:notifications@github.com>> wrote:

No. I am referring to what I believe are called Dynamic Desktops.
In an attempt to explain clearly, in Cairo go to and click on Places on top menu bar, then select Downloads; thi

[2018-06-17 03:02] GR8smoky commented on #159
No, that does not accomplish my goal, it just rotates the undesired "desktop" or screen out of view.

What I want to accomplish is to remove/delete the screen from Cairo's rotation scheme.  What has occurred is that in experimenting I did some things I would like to undo, and keep some other things (like the taskbar configuration), so as to not start from scratch again. Plus I know I will make err

[2018-06-17 05:13] dremin commented on #159
The only desktop that Cairo saves is the default one set in Cairo Settings. Are you talking about the back/forward buttons? The back button traverses up the directory structure, while the forward button traverses desktop history. However, this is not persisted across restarts of Cairo.

[2018-06-17 10:39] josuave commented on #159
I think this is a misunderstanding of the functionality. The feature is the directory that the desktop polls to show the desktop icons can be changed. You are not creating multiple desktops, you are just changing where the desktop’s icons come from. Think of it like an explorer window.

Sent from my iPhone

On Jun 16, 2018, at 11:02 PM, GR8smoky <notifications@github.com<mailto:notifications@githu

[2018-06-17 10:48] josuave commented on #159
I think this is a feature request to be able to view and remove undesired Dynamic Desktop history. My recommendation for such a feature would be to either click and hold OR right click the Dynamic Desktop navigation to show a history menu. This menu would allow direct navigation to that entry on click and also have an [x] button to the right for removal. Since the Dynamic Desktop navigation can be

[2018-06-17 10:55] josuave opened #160 "[Feature Request] Impliment file specific right click menus - like explore"
Implement whatever standard right click options that are available for file type and explore including shift right click. The registry contains all of the file type information and the classes hive. Of course we won’t be able implement some of the explore extension actions.

[2018-06-17 10:58] josuave commented on #155
Are you running Cairo on top of windows or is Cairo set a shell?

[2018-06-17 16:45] josuave commented on #159
I added a proof of concept to my fork
https://github.com/josuave/cairoshell

Sent from my iPhone

On Jun 17, 2018, at 1:13 AM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

The only desktop that Cairo saves is the default one set in Cairo Settings. Are you talking about the back/forward buttons? The back button traverses up the directory structure, while the forwa

[2018-06-17 22:28] GR8smoky commented on #159
I think I am beginning to get things clearer.
Per Dremin commit, it is the back button screens I'd like to erase -- just the screens not actually the directories or files themselves. Those back button screens do persist from close to restart (at least using windows as file manager).
Per josuave commit, if I follow correctly, I believe that addresses what I seek.  Have not been able to look at proo

[2018-06-18 00:32] GR8smoky commented on #159
Just a final comment here.
Thanks for all your help. Looked at proof of concept, but way above my pay grade.
Sorry I can not be of more help in arriving at a solution.

[2018-06-18 00:35] josuave commented on #159
That’s OK, I did notice a small bug in the WPF implementation of the Browse button’s context menu. In some cases I need to double right click to get the context menu opening function to react appropriately.

Sent from my iPhone
Jun 17, 2018, at 8:32 PM, GR8smoky <notifications@github.com<mailto:notifications@github.com>> wrote:

Just a final comment here.
Thanks for all your help. Looked at proof

[2018-06-18 03:59] dremin commented on #160
Aren’t these already implemented? File verbs should be there. Or am I misunderstanding?

[2018-06-18 15:39] josuave commented on #160
I apologize, I will review the code again and will amend or close this

Sent from my iPhone

On Jun 18, 2018, at 12:00 AM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

Aren’t these already implemented? File verbs should be there. Or am I misunderstanding?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<ht

[2018-06-18 22:39] josuave commented on #160
I see my confusion on the matter. Explorer differentiates from standard and extended verbs. This should be closed unless it is desired that Cairo also follows that same functionality

[2018-06-20 14:53] skyborgff commented on #50
@dremin Did you end up finding the ms-actioncenter: URI But for the modern Sound and Power?

[2018-06-20 18:40] hackaholic5069 commented on #155
i replaced windows explorer shell with cairo, and renamed a few filed to open Fman instead of explorer

[2018-06-20 18:41] hackaholic5069 commented on #155
btw, i can change the wallpaper by changing it in explorer settings, learned that yesterday...

[2018-06-20 18:52] jonathands opened #161 "Error message when running app grabber"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
1. installed
2. run welcome tutorial to the last step
3. opened app grabber via menu and closed it
4. finished tutorial opening app grabber

**Expected behavior**
No error message or crash

**System information:**
 - Windows version: 10
 - Cairo version: lastest stable
 - 32-bit or 64-bit: 64
 - In Cai

[2018-06-26 07:11] POTION4 opened #163 "Enable dragging & selecting multiple items on dynamic desktop"
If the dynamic desktop is to be used frequently, dragging and dropping, and selecting multiple items should be allowed. Also in my opinion, there should be a keyboard shortcut to the previous directory, simply pressing the button is sometimes... Not very convenient. Thanks, you've done a great job! I love this desktop.

Another little suggestion: when you select something on the dynamic desktop, i

[2018-06-26 07:13] POTION4 opened #164 "Adding a search bar to "Programs" drop-down menu"
I think a search bar is needed because, when you have lots of programs, its quite hard to find what you need in the current "Program" drop-down menu. A search bar would be great! 😃

[2018-06-26 10:36] josuave commented on #164
I actually like the method that Windows Explorer uses, just start typing

Sent from my iPhone

On Jun 26, 2018, at 3:13 AM, 42yeah <notifications@github.com<mailto:notifications@github.com>> wrote:

I think a search bar is needed because, when you have lots of programs, its quite hard to find what you need in the current "Program" drop-down menu. A search bar would be great! 😃

—
You are receiving

[2018-06-26 13:42] postbluecz opened #165 "Taskbar hides when coming from full screen app"
Hi,
I noticed that when I come from a full screen app (like Remote Desktop), Taskbar hides when it is set up for anything other than "Taskbar reserves space" in the Cairo settings. It would be nice if it would behave as expected - appearing again after exiting from full screen app.

Tom

[2018-06-28 01:40] #160 closed

[2018-06-28 02:11] dremin commented on #157
I believe you're actually getting the rect of the Windows taskbar, since Cairo currently forwards all AppBar messages to Explorer. I'm looking into adding a condition so that Cairo returns the rect of the menu bar for ABM_GETTASKBARPOS messages.

Is it okay if we handle this here and close #158?

[2018-06-28 02:38] dremin commented on #159
@josuave - were you planning on finishing this in your fork?

[2018-06-28 10:15] josuave commented on #159
I haven’t had much time lately to look at this. I’ll try to pull it back up this weekend and review. I need to add a remove button [x] to each menu item and I’m also not sure where the right click bug is coming from yet.

Sent from my iPhone

On Jun 27, 2018, at 10:38 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

@josuave<https://nam03.safelinks.protection.out

[2018-06-28 10:31] josuave commented on #159
Just for clarification: The bug is actually with the built-in contextmenu opening event.

Sent from my iPhone

On Jun 27, 2018, at 10:38 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

@josuave<https://nam03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjosuave&data=02%7C01%7C%7C7f74c5ef6a4c493cd64b08d5dca02d92%7C84df9e7fe9f640afb435aaaaaaaaaa

[2018-06-29 04:05] dremin commented on #161
Does this happen every time you use App Grabber and click Continue, or have you been unable to reproduce?

[2018-06-29 23:05] dremin commented on #50
@skyborgff I ended up implementing sound another way, and heard that power is working correctly in the latest builds. Are these working for you?

[2018-06-30 09:52] skyborgff commented on #50
@dremin I'm not using this project, i wanted to know for a project of my own (a rainmeter skin). could you provide me the power URI (if it exists) please?

[2018-06-30 19:58] dremin commented on #50
@skyborgff Unfortunately I did not find a URI for power.

[2018-07-03 22:31] #106 closed

[2018-07-03 23:08] dremin commented on #139
This is a huge usability win and will be in the next release. Thanks for the suggestion!

[2018-07-03 23:37] dremin commented on #153
Tried this out but it reduces legibility, so I will close this. However, this did force me to clean up some code, so that's a plus!

[2018-07-03 23:37] #153 closed

[2018-07-03 23:44] dremin commented on #159
@josuave is it possibly due to the toolbar not having focus on first right-click?

[2018-07-03 23:44] dremin commented on #156
Closing due to Windows limitation.

[2018-07-03 23:44] #156 closed

[2018-07-03 23:48] dremin commented on #150
@LegacyStackCrash do you have a specific application that I can try to reproduce this?

[2018-07-03 23:49] dremin commented on #136
Closing due to lack of reproduction

[2018-07-03 23:49] #136 closed

[2018-07-03 23:50] dremin commented on #132
@oxysoft Do you happen to have details? Does this only happen if the Windows taskbar is vertical? Are you using different DPI settings on each display when this happens?

[2018-07-04 00:11] dremin commented on #147
I have yet another theory, could you please reproduce this issue with [this build](https://ci.appveyor.com/api/buildjobs/6cbequjxedduj7jn/artifacts/Installer%2FCairoSetup_64bit.exe) with Debug logging enabled and upload the log? Thanks!

[2018-07-04 11:00] Kellerbier opened #166 "Start "run..." with admin rights"
Is it possible to start "run" with admin rights? i dont find any options.

[2018-07-04 11:02] #166 closed

[2018-07-04 17:17] josuave commented on #159
This is odd. It seems to be something. I’m thinking of removing the contextmenu on the button itself and on right click of the button show an standalone contextmenu that is not bound to any control. I left my dev laptop back home so I won’t be able to look again until this weekend.

Sent from my iPhone

On Jul 3, 2018, at 7:44 PM, Sam Johnson <notifications@github.com<mailto:notifications@github.c

[2018-07-06 09:32] DoerrSt opened #167 "Border name cannot be found in the name scope of ..."
I recevied the error "Border name cannot be found in the name scope of ..." several times today. Screenshot of the complete message is attached.

Unfortunately, I don't see a way to reproduce this.

 - Windows version:  Windows 7 Pro
 - Cairo version: 0.3.6680.0 Pre-release, 64-bit
 - In Cairo Settings > Advanced, is Cairo set as shell?:   No
![cairo desktop error](https://user-images.githubuserco

[2018-07-06 16:24] josuave commented on #167
Check the install folder and make sure the xaml theme files are there

Sent from my iPhone

On Jul 6, 2018, at 5:32 AM, DoerrSt <notifications@github.com<mailto:notifications@github.com>> wrote:

I recevied the error "Border name cannot be found in the name scope of ..." several times today. Screenshot of the complete message is attached.

Unfortunately, I don't see a way to reproduce this.

  *

[2018-07-06 21:13] owenworley commented on #147
[07-06-2018 - Copy.LOG](https://github.com/cairoshell/cairoshell/files/2171990/07-06-2018.-.Copy.LOG)

Please find attached a log of the build you posted doing sleep -> resume from sleep.

Interstingly, I am seeing the issue even with just one monitor (the 4k one) attached... I did the test to get the log while i had the 2nd monitor disabled so that I could play my switch on the other one.

This m

[2018-07-07 07:04] cycl0ne opened #168 "Skype Classic Version"
**Describe the bug**
Skype wont respnd to left mouseclick anymore (doublick on name does not open message box, lclick on minimize window doesnt work, close doesnt work anymore etc.)

**Steps to reproduce**
1.  Use Win10 Pro
2.  Use Cairo Desktop
3.  Use Skype Classic Version

**Expected behavior**
Doubleclick on a name opens the message box. left click on the "minimize" buttons makes the window sm

[2018-07-09 02:09] dremin commented on #147
@owenworley Thanks! Those items help rule out more items. One other thing I thought of: does this happen if the Cairo desktop is disabled?

[2018-07-09 08:08] owenworley commented on #147
@dremin This is with the Cairo Desktop *disabled*. I personally prefer classic desktop icons so I have never had it enabled.

[2018-07-11 01:31] jonathands commented on #161
no, i could not reproduce after I installed, i think i'd need to reinstall and follow a very specific order of actions (using appgraber from tutorial after using other features), maybe its not that worth to look into

[2018-07-14 05:26] thecakeisalie25 opened #169 "[Feature request] Show progress in the taskbar?"
Things like downloading via firefox, or other progress bars would be a massive feature.

[2018-07-15 21:08] dremin commented on #161
Okay, feel free to re-open this if you are able to reproduce!

[2018-07-15 21:08] #161 closed

[2018-07-18 08:11] m0gg3 opened #171 "[Menubar] Adjustable Height"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A setting to adjust the height of Menubar. At least myself, like a little padding on my bars. The height today is like 24 I think? I would like somewhere between 32-48. Buttons and such should of course be centered in the height as well.
The setting would have minimum and maximum checks so i

[2018-07-25 07:38] cycl0ne commented on #168
Still same Problem with Skype V8.
Cheers

[2018-07-25 15:58] risemix opened #173 "Removing stroke from bar in XAML file"
I realize this isn't a support forum and that this is maybe beyond the scope of what is supposed to be discussed here, but I can't find a better place to ask, so I hope it's all right.

I'm trying to create a simple transparent theme for the top bar using white.xaml as a starting point.  I am not a developer nor am I actually that familiar with the syntax, but I do know CSS and some HTML so I was

[2018-07-25 17:13] josuave commented on #173
Are you looking for something like these effects ?
[image1.jpeg]
Sent from my iPhone

On Jul 25, 2018, at 11:58 AM, risemix <notifications@github.com<mailto:notifications@github.com>> wrote:

I realize this isn't a support forum and that this is maybe beyond the scope of what is supposed to be discussed here, but I can't find a better place to ask, so I hope it's all right.

I'm trying to create a

[2018-07-25 17:31] risemix commented on #173
You haven't attached an image.

[2018-07-25 17:31] josuave commented on #173
Ahhh, looks like it got stripped

Sent from my iPhone

On Jul 25, 2018, at 1:31 PM, risemix <notifications@github.com<mailto:notifications@github.com>> wrote:

You haven't attached an image.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fcairoshell%2Fcairoshell%2Fissues%

[2018-07-25 17:43] dremin commented on #173
Is this with the menu bar shadow enabled or disabled? I’m currently traveling but I believe that is where this line comes from.

[2018-07-25 17:58] risemix commented on #173
Shadow is disabled.

[2018-07-25 18:11] josuave commented on #173
Are you trying to get a gloss look almost like it’s made of smooth plastic or glass???

Sent from my iPhone

On Jul 25, 2018, at 1:58 PM, risemix <notifications@github.com<mailto:notifications@github.com>> wrote:

Shadow is disabled.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgit

[2018-07-25 18:13] risemix commented on #173
I'm trying to get only the text and icons without any background whatsoever. :)

For those of you familiar with Elementary OS, something like that.

https://distrowatch.com/images/cgfjoewdlbc/elementary-small.png For example.

[2018-07-25 19:56] josuave commented on #173
Ahhh. You want no background what so ever.

Sent from my iPhone

On Jul 25, 2018, at 2:13 PM, risemix <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm trying to get only the text and icons without any background whatsoever. :)

For those of you familiar with Elementary OS, something like that.

https://distrowatch.com/images/cgfjoewdlbc/elementary-small.png<https://nam04.saf

[2018-07-26 00:38] dremin commented on #173
@risemix looks like it is in MenuBar.xaml line 9 so it isn't customizable. I will address this in an update so that you can tweak that line.

[2018-07-26 12:36] risemix commented on #173
That's awesome.  Thanks so much!

Afterwards, I'll release the skin somewhere so it can be used by whoever wants it, although it is a pretty simple one.

[2018-08-01 08:49] rndthoughts opened #174 "Spotify icon does not appear in notification area."
**Describe the bug**

When you start Spotify, the icon does not appear in the notification area.  Same occurs with "Close button should minimise the Spotify window to the tray" enabled.  Normal minimise works fine.

**Steps to reproduce**
1.  Open Spotify
2. Check notification area - no icon present.

**Expected behavior**

The Spotify icon should appear in the notification area.

**System informa

[2018-08-01 22:11] dremin commented on #165
This should be resolved in the latest release. Please re-open if you continue to have this issue.

[2018-08-01 22:11] #165 closed

[2018-08-01 22:11] dremin commented on #139
This should be resolved in the latest release.

[2018-08-01 22:11] #139 closed

[2018-08-01 23:32] dremin commented on #174
Thanks for reporting this! I've implemented a fix that will be in the next release.

[2018-08-01 23:46] dremin commented on #168
I just downloaded the latest version of Skype and was unable to reproduce. Are you still having this issue with the latest version? Is there anything you need to do in order for the Skype window to stop responding to clicks?

[2018-08-02 00:05] dremin commented on #173
Once this is released, add the following brush to your theme to make the bottom stroke transparent:
`<SolidColorBrush Color="Transparent" x:Key="MenuBarBorder" />`

[2018-08-02 00:16] dremin commented on #159
The work done for this by @josuave will be available the next release.

[2018-08-02 00:36] GR8smoky commented on #159
Thanks for head's up and all the work done on this issue

[2018-08-02 00:36] #159 closed

[2018-08-02 03:07] dremin commented on #173
This has been released.

[2018-08-02 03:07] dremin commented on #174
The fix has been released.

[2018-08-02 03:07] #174 closed

[2018-08-02 18:42] risemix commented on #173
https://i.imgur.com/W2W1yMD.png

Thank you, it works great. :)

[2018-08-02 22:23] josuave opened #175 "[Feature] Impliment "JumpList" like recent items"
To add better access to recent files, I am suggesting that we implement partially some of the JumpList functionality in Windows Explorer. this will allow a more seamless experience in Cairo and possibly promote quicker adoption.

When a user right-clicks a "taskbar" item, the recents for that item are displayed.

I will start working on this in my fork an will add some of my findings to the "Issue

[2018-08-03 19:55] jacekmusial commented on #168
I'm using latest Skype version on updated Win10 Pro and too, couldn't reproduce this issue.

[2018-08-04 08:59] martinsstuff opened #176 "Support Windows Apps in Taskbar"
**Is your feature request related to a problem? Please describe.**
I want to put my Windows Store iTunes in the taskbar

**Describe the solution you'd like**
Make it work, I guess?

**Describe alternatives you've considered**
Just using the Programs menu but I want it in the taskbar.

**Additional context**
Dragging it from shell:WindowsApps doesn't work, it just doesn't appear on the taskbar.

[2018-08-05 15:01] josuave commented on #176
I just tested this and it is functioning properly? My process was:

  1.  Download iTunes from the Windows Store.
  2.  Launch App Grabber, via the Programs menu.
  3.  Find iTunes and add it to the list of programs.
  4.  On the Categories screen drag iTunes to the Quick Launch area.
  5.  It is now on the Cairo “Taskbar”

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

[2018-08-05 20:38] risemix opened #177 "Transparent Menu Bar Backgrounds aren't interactable"
**Describe the bug**
When you use a transparent menu bar background, the area behind the text is not interactable. You must click precisely on the text/icon in order to activate the Programs menu, search area, etc.

**Steps to reproduce**
1. Set a theme with a transparent background (I have attached mine to make it easier)
2. Try to click the area around the letters

**Expected behavior**
I would

[2018-08-06 00:52] martinsstuff commented on #176
Thanks, I just tried it using your method and it indeed worked.

I renamed the issue to be about Drag & Drop support as while main issue is now fixed it is still something that should be fixed to make it more intuitive as other shortcuts just work with drag n drop.

[2018-08-06 01:02] martinsstuff opened #178 "Notification area missing icons and other weirdness"
**Describe the bug**
Icons shown in normal explorer desktop aren't shown in Cairo desktop.

Examples:

Nvidia Control Panel

SimpleDNSCrypt Control Panel

Realtek Audio

ProtonVPN Client

NetSetMan

**Steps to reproduce**
1. Have these applications installed and in the notification area.

**Expected behavior**
Icons are visible in Cairo too.

**System information:**
 - Windows version: Win 10 1803

[2018-08-06 07:04] martinsstuff opened #179 "Add option to show Hibernate button in menu"
**Is your feature request related to a problem? Please describe.**
I'd like to use a simple button in the menu to hibernate my machine. Currently it only has sleep, restart, shutdown and logout.

**Describe the solution you'd like**
A hibernate button.

As some people don't use it I specifically suggest an option to hide it. I personally use it as sleep can corrupt data if power is cut.

**Describ

[2018-08-07 04:33] dremin commented on #178
Do the icons appear if you restart the app it belongs to while Cairo is running?

Unfortunately the "other weirdness" part of this may not be addressable due to the lack of support for multiple notification areas in Windows' APIs.

[2018-08-07 04:34] #173 closed

[2018-08-07 04:35] dremin commented on #167
I've seen this before but haven't been able to reproduce.. seems to be an issue with a taskbar button animation.

[2018-08-07 14:25] risemix commented on #177
I'm traveling at the moment but I will try it when I'm back at my desk.

[2018-08-08 02:41] martinsstuff commented on #178
They don't, but sometimes icons of new applications show up and after restarts some icons that didn't show up before now do, I feel like there is some sort of "battle"  between explorer and cairo who "claims" icons that persists app relaunches?

[2018-08-08 03:14] dremin commented on #178
Whichever is “topmost” will get the icon. Do you have the Cairo taskbar disabled and are instead using the Windows one? I can see how this could cause Explorer to get the icon instead.

[2018-08-08 03:46] martinsstuff commented on #178
![image](https://user-images.githubusercontent.com/29005772/43815119-12ecc1aa-9a9c-11e8-83b1-dd11996c04ee.png)

Nope, I use the Cairo task bar, when booting it shows the Windows one for a bit and hides it, do you mean that?

[2018-08-09 04:11] dremin commented on #118
I think it makes sense to add this for when the toolbar is turned off.

[2018-08-09 04:15] dremin opened #180 "Additional menu bar customizability"
As many things as possible should be customizable in the menu bar. Add the following options to Cairo Settings:

- Show/hide 'Places' menu
- Show/hide volume icon
- Show/hide 'Action Center' icon
- Show/hide clock
- Show/hide search icon

[2018-08-09 13:36] josuave commented on #180
Should we investigate using plugins, for some of this, to add or remove functionality rather than toggles? This reminds me of my old days of using litestep or sharpe!

Sent from my iPhone

On Aug 9, 2018, at 12:15 AM, Sam Johnson <notifications@github.com<mailto:notifications@github.com>> wrote:

As many things as possible should be customizable in the menu bar. Add the following options to Cairo

[2018-08-09 19:57] vapeahoy commented on #142
In games, and such, it remains top layer if game/app is running in borderless mode. This is quite annoying.
It should be possible to move any menus to any sides of the monitor, or position.

[2018-08-15 13:59] mdmk opened #182 "Keep the translators informed of new changes in app text"
**Is your feature request related to a problem? Please describe.**
Currently, when new strings are added, there is no way to know that.
It is not easy for maintainers to keep their work up to date.

**Describe the solution you'd like**

- I'd like to offer the translators to opt in to be registered on a emailing list, to keep them informed of each new updates.
Or keep an issue open or open new iss

[2018-08-16 01:39] dremin commented on #180
Making everything plugins is a long term goal. Maybe it makes sense to use this as a beginning to further develop the plugin system.

[2018-08-16 11:59] Le-Barbu opened #183 "[Feature request] additionnal taskbar option"
display mode : taskbar merges with menu bar (overlapping, maybe?)

[2018-08-16 12:04] Le-Barbu opened #184 "[Feature request] customizable menu bar Z position"
when clicking on a menu, the bar is put on top. could we customize that? like an "always on top"/"always on bottom" option so that gadgets and the like don't get behind it (namely EmergeDesktop's applets)

[2018-08-20 16:08] ch3wt0ys opened #186 "Cairo 0.3.6701.0 crash"
Was just watching Youtube videos through Firefox and whole desktop froze for a minute and tossed up an error. Couldn't take a screenshot or open taskmanager through ctrl-shift-esc, ctrl-alt-delete did not work either. Took a photo with my phone and found the log for Cairo to post here. Clicked 'yes' to restart Cairo and it did not restart the shell, had to do so manually.

 - Windows version: Wind

[2018-08-25 18:02] VulcanTourist opened #192 "Cairo fails to snag PeerBlock tray icon"
PeerBlock, as a background process, normally is accessible while running only through its tool tray icon.  This icon is not captured by Cairo, making the application inaccessible except by finding and executing it again (which has the effect of focusing the current instance).

PeerBlock's task bar icon should be captured by Cairo and displayed in its notifications area.

System: Windows 10 Home x6

[2018-08-25 19:59] VulcanTourist opened #193 "Cairo incorrectly handles the [Win] key"
**Describe the bug**
Cairo incorrectly grabs and "eats" the [Win] key on key-down rather than key-up and subjects the key to keyboard repeat, wrecking an entire ecosystem of hotkeys and custom keybinds.  It can no longer be used as the modifier key that was intended.  Now, holding the key down as a modifier instead causes the Cairo menu to repeatedly open and close.

**Steps to reproduce**
1. Pres

[2018-08-25 20:09] VulcanTourist opened #194 "Cairo fails to set exclusion zones for its toolbars"
**Describe the bug**
Cairo fails to set, or consistently set, exclusion zones for its toolbars, with the consequence that maximizing or border-snapping application windows causes them to underlie the toolbars and making their window controls inaccessible.

**Steps to reproduce**
1. Start any application with fully resizable windows;
2. Attempt to maximize or half-size its window by any means;
3. W

[2018-08-27 14:50] martinsstuff opened #195 "Calendar pop out: Current date only refreshing when another date is clicked in the calendar."
**Describe the bug**
The current date doesn't update automatically in the pop out menu (filled blue selection), selecting another date (any works, selection with blue stroke) causes it refresh and be correct.

**Steps to reproduce**
1. Launch Cairo and wait a day (changing system clock works too).
2. Open the pop out, data should show yesterday.
3. Click any other date, current date should refresh

[2018-08-27 23:26] dremin commented on #194
Are you seeing this happen only with certain apps? Does this happen only with apps opened before Cairo is started or are you seeing this happen after a certain event?

[2018-08-27 23:50] dremin commented on #192
Does the icon show up if you restart PeerBlock? It seems to be working on my machine.
![screen shot 2018-08-27 at 7 48 43 pm](https://user-images.githubusercontent.com/7373633/44692733-54a53500-aa32-11e8-99bb-358ed31b7e2d.png)

Regarding the second item, I agree it could be beneficial to show folder names in the App Grabber. I'll look into adding this.

[2018-08-27 23:59] dremin commented on #193
Can you confirm that this only happens while Cairo is set as shell?

[2018-08-28 01:52] dremin commented on #186
This tends to happen when there is a handle leak somewhere on the system. Are you able to reproduce this consistently? If so, a screenshot of Task Manager with the "Handles" column selected with Cairo present in the screenshot will help isolate if it is a Cairo issue or not.

[2018-08-28 03:09] VulcanTourist commented on #194
I cannot now say, as I was forced to cease use of it.  I installed it in the first place because my Explorer Shell has evilly been crashing and restarting every few seconds to minutes, and I was looking for something to help keep the system usable enough to aide troubleshooting.  I didn't realize what an alpha state it was in.

[2018-08-28 03:17] VulcanTourist commented on #193
I can't, since I'm no longer using it as explained in [my other comment](https://github.com/cairoshell/cairoshell/issues/194#issuecomment-416400847).